<div class="row-fluid" id="index_instruction">
    <div class="span8 left">
        <div class="content">
            <div>朋友的分享，值得信任的推荐</div>
            <div>秀自己买的商品，与朋友分享购物的乐趣</div>
            <div>基于已有社交网络，无需注册，自动建立朋友关系</div>
            <div>根据爱好，将朋友归入不同圈子</div>
            <div>强大而快速的搜索过滤机制，快速找到想要买的东西</div>
        </div>
    </div>
    <div class="span4 right">
        用已有帐号登录(推荐)
        <span>
            <a href="javascript:void(0);">
                <%= image_tag 'question.png', size: '16x16' %>
            </a>
        </span>
        <hr>
        <ul class="wbs">
            <li class="wb">
                <a href="/syncs/sina/new" title="用新浪微博创建帐号">
                    <%= image_tag '32-weibo.gif', size: '28x28' %>
                    <span>&nbsp;用新浪微博登录</span>
                </a>
            </li>

            <li class="wb">
                <a href="/syncs/qq/new" title="用腾讯微博创建帐号">
                    <%= image_tag '32-qqweibo.gif', size: '28x28' %>
                    <span>&nbsp;用腾讯微博登录</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<hr>
<div class="row-fluid" id="index_images">
    <ul class="thumbnails">
        <li class="span3">
            <a href="#" class="thumbnail">
                <%= image_tag "http://img04.taobaocdn.com/bao/uploaded/i4/T1g61EXjRiXXXjaoA._083645.jpg_310x310.jpg" %>
            </a>
        </li>
        <li class="span3">
            <a href="#" class="thumbnail">
                <%= image_tag "http://img02.taobaocdn.com/tps/i4/T1aTqFXnNaXXXXXXXX-300-278.jpg" %>
            </a>
        </li>
        <li class="span3">
            <a href="#" class="thumbnail">
                <%= image_tag "http://img03.taobaocdn.com/bao/uploaded/i3/T1NtumXchBXXbjEKHX_085034.jpg_310x310.jpg" %>
            </a>
        </li>
        <li class="span3">
            <a href="#" class="thumbnail">
                <%= image_tag "http://img04.taobaocdn.com/bao/uploaded/i4/T1cm5yXftfXXccOQUV_021431.jpg_310x310.jpg" %>
            </a>
        </li>
    </ul>
</div>