<div id="<%= "#{child_comment._id}-comment" %>" class="thumbnail row comment-sub">
    <%= image_tag small_avatar_url(child_comment.user.avatar), width: 50, class: "pull-left" %>

    <div class="pull-right comment-info">
        <p>
            <%= link_to child_comment.user.nick_name, account_user_path(child_comment.user) %><span><%= child_comment.created_at.to_s :db %></span>
        </p>

        <%= comment_format child_comment.content %>
        <ul class="the-icons">
            <%= link_to vote_comment_path(child_comment), remote: true do %>
                <li><i class="icon-star"></i>
                    <small id="<%= "#{child_comment._id}-vote-num" %>"><%= child_comment.votes_point %></small>
                </li>
            <% end %>
        </ul>
    </div>
</div>