<div class="comment-block">
    <%= render :partial => "comments/root_comment", :object => comment %>

    <div class="child-comments" id="<%= "#{comment._id}-child-comments" %>" style="display: none; margin-left: 100px;">
        <% comment.child_comments.each do |child_comment| %>
            <%= render :partial => "comments/child_comment", :object => child_comment %>
        <% end %>

        <% unless current_user.nil? %>
        <%= form_for(comment.comments.new(:user_id => current_user._id), remote: true) do |f| %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :_type %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :commentable_id %>
            <%= f.hidden_field :commentable_type %>
            <%= f.text_area :content, rows: 4, class: "input-xlarge", style: "width: 96%;", placeholder: "我来评两句" %>
            <%= f.submit "评论", class: "btn btn-primary pull-right" %>
        <% end %>
      <% end %>
    </div>
</div>
