<div class="row comment-main" id="<%= "#{root_comment._id}-comment" %>">
    <%= image_tag small_avatar_url(root_comment.user.avatar), width: 50, class: "pull-left" %>

    <div class="comment-info">
        <p>
            <%= link_to root_comment.user.nick_name, account_user_path(root_comment.user) %><span><%= root_comment.created_at.to_s :db %></span>
        </p>

        <%= comment_format root_comment.content %>
        <ul class="the-icons">
            <%= link_to "javascript: void(0);", class: "link-child-comments" do %>
                <li><i class="icon-comment"></i> <small id="<%= "#{root_comment._id}-child-num" %>"><%= root_comment.child_comments.size %></small></li>
            <% end %>
            <%= link_to vote_comment_path(root_comment), remote: true do %>
                <li><i class="icon-star"></i> <small id="<%= "#{root_comment._id}-vote-num" %>"><%= root_comment.votes_point %></small></li>
            <% end %>
        </ul>
    </div>
</div>