<div id="<%= "#{share._id}-recommend-btn" %>" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>

        <h3><%= share_title(share) unless share.item.nil? %></h3>
    </div>
    <div class="modal-body row" style="width: 500px; margin-left: auto; margin-right: auto;">
        <%= image_tag share_image(share), :width => '220', class: "pull-left", style: "margin-right: 10px;" %>
        <%= form_for share.build_comment, url: recommend_item_path(share.item), class: "pull-right" do |f| %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :_type %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :commentable_id %>
            <%= f.hidden_field :commentable_type %>
            <%= f.text_area :content, rows: 6, class: "input-xlarge", style: "width: 260px;", placeholder: "我来说两句" %>
            <%= f.submit "我要收藏", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>
<div id="<%= "#{share._id}-wish-btn" %>" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>

        <h3><%= share_title(share) unless share.item.nil? %></h3>
    </div>
    <div class="modal-body row" style="width: 500px; margin-left: auto; margin-right: auto;">
        <%= image_tag share_image(share), :width => '220', class: "pull-left", style: "margin-right: 10px;" %>
        <%= form_tag add_to_wish_share_path(share), remote: true, class: "pull-right" do %>
            <div class="page-header"><h4>标签</h4></div>
            <%= select_tag :tag, options_for_select(Hash[Share::WISH_TAGS.map{|c| [c, c]}]), style: "width: 240px;" %>
            <br>
            <div class="page-header"><h4>心语心愿</h4></div>
            <%= text_area_tag :content, "", rows: 4, class: "input-large", style: "width: 240px;" %>
            <br>
            <%= submit_tag "加入愿望清单", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>
<div id="<%= "#{share._id}-bag-btn" %>" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>

        <h3><%= share_title(share) %></h3>
    </div>
    <div class="modal-body row" style="width: 500px; margin-left: auto; margin-right: auto;">
        <%= image_tag share_image(share), :width => '220', class: "pull-left", style: "margin-right: 10px;" %>
        <%= form_tag add_to_bag_share_path(share), remote: true, class: "pull-right" do |f| %>
            <%= text_area_tag 'comment', nil, rows: 6, class: "input-xlarge", style: "width: 240px;", placeholder: "我来说两句" %>
            <br>
            <%= submit_tag "放入已实现的愿望", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>
