<div class="row item_block items span5">
    <div class="pull-left item_left">
        <%= link_to share, :class => "img_frame large_picture" do %>
            <%= share_image_tag share %>
        <% end %>

        <div class="btn-group item_actions">
            <a data-toggle="modal" href="#<%= "#{share._id}-wish-btn" %>" class="btn red">新愿望</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-recommend-btn" %>" class="btn yellow">收藏</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-bag-btn" %>" class="btn blue">已实现</a>
        </div>
    </div>
    <div class="item_right">
        <div class="user_share">
            <a class="img_frame mini_picture pull-left">
                <%= image_tag small_avatar_url(share.user.avatar) %>
            </a>

            <div class="user_info">
                <%= link_to share.user.nick_name, account_user_path(share.user) %>
            </div>

            <div class="user_comment"><%= share.comment_content %></div>

            <ul class="the-icons">
                <li><%= image_tag 'comment.png' , :size => '22x22' %>  </i> <small id="<%= "#{share._id}-child-num" %>"><%= share.comment.child_comments.size %></small></li>
                
                <li><%= image_tag 'thumbup.png' , :size => '22x22' %><small id="<%= "#{share._id}-vote-num" %>"><%= share.comment.votes_point %></small></li>
                
            </ul>

        </div>
        
    </div>
</div>

<%= render :partial => "shares/form", :locals => {:share => share} %>
