<div class="row item-block">
    <%= link_to share do %>
        <h4><%= share.item.title %></h4>
    <% end %>

    <div class="pull-left item-left">
        <%= image_tag share.item.image, :width => '290' %>

        <div class="btn-group">
            <a data-toggle="modal" href="#<%= "#{share._id}-wish-btn" %>" class="btn">想买</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-recommend-btn" %>" class="btn">推荐</a>
            <%= link_to '背包', add_to_bag_share_path(share), method: :post, remote: true, class: "btn" %>
        </div>
    </div>
    <div class="pull-right item-right">
        <div class="item-info">
            <p class="row user-block">
                <%= image_tag small_avatar_url(share.user.avatar), width: 50, class: "pull-left" %>
                <span class="user-block-info">
                    <%= link_to share.user.full_name, my_shares_user_path(share.user) %>
                </span>
                <% if current_user != share.user %>
                    <span class="user-block-link <%= "#{share.user._id}-follow" %>">
                    <%=
                        link_to_unless current_user.follower_of?(share.user), '关注', follow_user_path(share.user), remote: true, class: "btn btn-small btn-success" do
                            link_to '取消关注', unfollow_user_path(share.user), remote: true, class: "btn btn-small btn-success"
                        end
                    %>
                    </span>
                <% end %>
            </p>

            <p><%= share.comment_content %></p>

            <p>价格：<%= share.price %>元 <a href="#">去淘宝购买</a></p>

            <div class="child-comments" id="<%= "#{share.comment._id}-child-comments" %>" style="margin-left: 0px; margin-top: 20px;">
                <% share.comment.child_comments.each do |child_comment| %>
                    <%= render :partial => "comments/child_comment", :object => child_comment %>
                <% end %>

                <%= form_for(share.comment.comments.new(:user_id => current_user._id), remote: true) do |f| %>
                    <%= f.hidden_field :user_id %>
                    <%= f.hidden_field :_type %>
                    <%= f.hidden_field :user_id %>
                    <%= f.hidden_field :commentable_id %>
                    <%= f.hidden_field :commentable_type %>
                    <%= f.text_area :content, rows: 1, class: "input-xlarge", placeholder: "我来评两句" %>
                    <%= f.submit "评论", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div id="<%= "#{share._id}-recommend-btn" %>" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3><%= share.item.title %></h3>
    </div>
    <div class="modal-body row" style="width: 500px; margin-left: auto; margin-right: auto;">
        <%= image_tag share.item.image, :width => '220', class: "pull-left", style: "margin-right: 10px;" %>
        <%= form_for share.build_comment, url: recommend_item_path(share.item), class: "pull-right" do |f| %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :_type %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :commentable_id %>
            <%= f.hidden_field :commentable_type %>
            <%= f.text_area :content, rows: 6, class: "input-xlarge", style: "width: 260px;", placeholder: "我来说两句" %>
            <%= f.submit "我要推荐", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>
<div id="<%= "#{share._id}-wish-btn" %>" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3><%= share.item.title %></h3>
    </div>
    <div class="modal-body row" style="width: 500px; margin-left: auto; margin-right: auto;">
        <%= image_tag share.item.image, :width => '220', class: "pull-left", style: "margin-right: 10px;" %>
        <%= form_tag add_to_wish_share_path(share), remote: true, class: "pull-right" do %>
            <div class="page-header"><h4>标签</h4></div>
            <%= text_field_tag 'tag', nil, style: "width: 240px;" %>
            <br>
            <%= submit_tag "加入愿望清单", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>