<div class="row item_block">
    <div class="title"><%= share.item.title %></div>
    <div class="pull-left item_left">
        <%= link_to share , :class=> "img_frame large_picture" do %>
        <%= image_tag share.item.image %>
        <% end %>

        <div class="item_actions">
            <a data-toggle="modal" href="#<%= "#{share._id}-wish-btn" %>" class="btn">想买</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-recommend-btn" %>" class="btn">推荐</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-bag-btn" %>" class="btn">背包</a>
        </div>
    </div>
    <div class="item_right">
            <div class="user_share">
                <a class="img_frame mini_picture pull-left">
                <%= image_tag small_avatar_url(share.user.avatar) %>
                </a>
                <div class="user_info">
                    <%= link_to share.user.nick_name, account_user_path(share.user) %>
                </div>

            <div class="user_comment"><%= share.comment_content %></div>
          </div>
            <p class="price_info">价格：<%= share.price %>元 <a href="<%= share.item.purchase_url %>">去淘宝购买</a></p>
            <% if share.comment %>
            <div class="child-comments" id="<%= "#{share.comment._id}-child-comments" %>">
                <% share.comment.child_comments.each do |child_comment| %>
                    <%= render :partial => "comments/child_comment", :object => child_comment %>
                <% end %>

                <%= form_for(share.comment.comments.new(:user_id => current_user._id), remote: true) do |f| %>
                    <%= f.hidden_field :user_id %>
                    <%= f.hidden_field :_type %>
                    <%= f.hidden_field :user_id %>
                    <%= f.hidden_field :commentable_id %>
                    <%= f.hidden_field :commentable_type %>
                    <%= f.text_area :content, rows: 1, class: "input-xlarge", placeholder: "我来评两句" %>
                    <%= f.submit "评论", class: "btn btn-primary" %>
                <% end %>
            </div>
          <% end %>
    </div>
</div>

<div id="<%= "#{share._id}-recommend-btn" %>" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3><%= share.item.title %></h3>
    </div>
    <div class="modal-body row" style="width: 500px; margin-left: auto; margin-right: auto;">
        <%= image_tag share.item.image, :width => '220', class: "pull-left", style: "margin-right: 10px;" %>
        <%= form_for share.build_comment, url: recommend_item_path(share.item), class: "pull-right" do |f| %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :_type %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :commentable_id %>
            <%= f.hidden_field :commentable_type %>
            <%= f.text_area :content, rows: 6, class: "input-xlarge", style: "width: 260px;", placeholder: "我来说两句" %>
            <%= f.submit "我要推荐", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>
<div id="<%= "#{share._id}-wish-btn" %>" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3><%= share.item.title %></h3>
    </div>
    <div class="modal-body row" style="width: 500px; margin-left: auto; margin-right: auto;">
        <%= image_tag share.item.image, :width => '220', class: "pull-left", style: "margin-right: 10px;" %>
        <%= form_tag add_to_wish_share_path(share), remote: true, class: "pull-right" do %>
            <div class="page-header"><h4>标签</h4></div>
            <%= text_field_tag 'tag', nil, style: "width: 240px;" %>
            <br>
            <%= submit_tag "加入愿望清单", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>
<div id="<%= "#{share._id}-bag-btn" %>" class="modal hide fade" style="display: none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal" >&times;</a>
        <h3><%= share.item.title %></h3>
    </div>
    <div class="modal-body row" style="width: 500px; margin-left: auto; margin-right: auto;">
        <%= image_tag share.item.image, :width => '220', class: "pull-left", style: "margin-right: 10px;" %>
        <%= form_tag add_to_bag_share_path(share), remote: true, class: "pull-right" do |f| %>
            <%= text_area_tag 'comment', nil, rows: 6, class: "input-xlarge", style: "width: 240px;", placeholder: "我来说两句" %>
            <br>
            <%= submit_tag "放入背包", class: "btn btn-primary" %>
        <% end %>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">取消</a>
    </div>
</div>
