<div class="row item_block items">
    <div class="title"><%= share.item.title %></div>
    <div class="pull-left item_left">
        <%= link_to share, :class => "img_frame large_picture" do %>
            <%= share_image_tag share %>
        <% end %>

        <div class="item_actions">
            <a data-toggle="modal" href="#<%= "#{share._id}-wish-btn" %>" class="btn red">想买</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-recommend-btn" %>" class="btn yellow">推荐</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-bag-btn" %>" class="btn blue">已购</a>
        </div>
    </div>
    <div class="item_right">
        <div class="user_share">
            <a class="img_frame mini_picture pull-left">
                <%= image_tag small_avatar_url(share.user.avatar) %>
            </a>

            <div class="user_info">
                <%= link_to share.user.nick_name, account_user_path(share.user) %>
            </div>

            <div class="user_comment"><%= comment_format share.comment_content %></div>
        </div>
        <p class="price_info">
            <% if share['price'] %>
                价格：<%= share['price'] %>元
            <% end %>
            <a href="<%= share.item.purchase_url %>">去看看</a>
        </p>
        <% if share.comment %>
            <div class="child-comments" id="<%= "#{share.comment._id}-child-comments" %>">
                <% share.comment.child_comments.each do |child_comment| %>
                    <%= render :partial => "comments/child_comment", :object => child_comment %>
                <% end %>

                <%= form_for(share.comment.comments.new(:user_id => current_user._id), remote: true) do |f| %>
                    <%= f.hidden_field :user_id %>
                    <%= f.hidden_field :_type %>
                    <%= f.hidden_field :user_id %>
                    <%= f.hidden_field :commentable_id %>
                    <%= f.hidden_field :commentable_type %>
                    <%= f.text_area :content, rows: 1, class: "auto_expand input-xlarge", placeholder: "我来评两句" %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<%= render :partial => "shares/form", :locals => {:share => share} %>
