<h2>I Like it</h2>

  <p>
  <b>&nbsp; &nbsp; Shared by:</b> <%=@share.user.nick_name%> (<%=@share.user.nick_name%>)
  <b>&nbsp; &nbsp; Ratings:</b> <%=@share.product_rating%>/<%=@share.service_rating%>
  <b>&nbsp; &nbsp; Comments:</b> <%=@share.comments.length%>  
  <br/>
  <b>&nbsp; &nbsp; Source:</b> <%= @share.source %><br/>
  <b>&nbsp; &nbsp; Price:</b> <%= @share.price %><br/>
  <b>&nbsp; &nbsp; Visible To:</b> <%=@share.visible_to_nick_str%> <%=@share.visible_to_self ? "private":""%><br/>
  <b>&nbsp; &nbsp; Comment:</b> <%=@share.comment%>
  </p>
  
<%= form_for(@choice) do |f| %>
  <% if @choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@choice.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @choice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <%=f.hidden_field :object_id%>
    <b>&nbsp; &nbsp; Type:</b>
    <%= radio_button_tag "choice[type]", Choice::TYPE_LIKE, @choice.type==Choice::TYPE_LIKE.to_s %>Like
    <%= radio_button_tag "choice[type]", Choice::TYPE_WISH, @choice.type==Choice::TYPE_WISH.to_s %>Wish
    <%= radio_button_tag "choice[type]", Choice::TYPE_RECOMMEND, @choice.type==Choice::TYPE_RECOMMEND.to_s %>Recommend
    <%if @choice.type==Choice::TYPE_RECOMMEND%>
    <br/>
    <b>&nbsp; &nbsp; Vissible To:</b>
      <%= text_field_tag "choice[visible_to_nick_str]", @choice.visible_to_nick_str, disabled: @choice.visible_to_self %>
      <%= check_box_tag "choice[visible_to_self]", VisibleToHelper::VISIBLE_TO_SELF, @choice.visible_to_self,
            onclick: 'document.getElementById("choice_visible_to_nick_str").disabled=this.checked' %> Private
    <%end%>
    <br/>
    <b>&nbsp; &nbsp; Comment:</b><br/>
    &nbsp; &nbsp; <%= f.text_area :comment, rows: 5%>
  </fieldset>
  <%= f.submit :class=>'btn primary'%>
<% end %>


<%= link_to 'Item', @share.item , :class=>'btn'%>
<%= link_to 'Back', @share , :class=>'btn'%>
