<% content_for :javascripts do %>
    <script type="text/javascript">
        $(function() {
            $(".comment-block").each(function() {
                var block = this;
                $(".link-child-comments", block).click(function() {
                    $(".child-comments", block).fadeToggle("slow", "linear");
                });
            });
        });
    </script>
<% end %>

<div class="page-header"><h2><%= @share.item.title %></h2></div>
<div class="row">
    <div class="span4">
        <div class="thumbnail">
            <%= image_tag @share.item.image, :width => '360' %>

            <div class="caption">
                <ul class="nav nav-pills info" style="font-size: 16px;">
                    <li><a href="#"><strong>210</strong><span>推荐</span></a></li>
                    <li><a href="#"><strong>100</strong><span>收藏</span></a></li>
                    <li><a href="#"><strong>20</strong><span>分享</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="span8">
        <div class="page-header"><h4>大家的评论</h4></div>
        <% @share.root_comments.each do |comment| %>
            <div class="comment-block">
                <div class="thumbnail row comment-main">
                    <%= image_tag @share.user.avatar, width: 50, class: "pull-left" %>

                    <div class="pull-right comment-info">
                        <p>
                            <a href="#"><%= comment.user.full_name %></a><span><%= comment.created_at.to_s :db %></span>
                        </p>

                        <p><%= comment.content %></p>
                        <ul class="the-icons">
                            <%= link_to "javascript: void(0);", class: "link-child-comments" do %>
                                <li><i class="icon-comment"></i> <%= comment.child_comments.size %></li>
                            <% end %>
                            <%= link_to vote_comment_path(comment) do %>
                                <li><i class="icon-star"></i> <%= comment.votes_point %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>

                <div class="child-comments" style="display: none;">
                    <% comment.child_comments.each do |child_comment| %>
                        <div class="thumbnail row comment-sub">
                            <%= image_tag @share.user.avatar, width: 50, class: "pull-left" %>

                            <div class="pull-right comment-info">
                                <p>
                                    <a href="#"><%= child_comment.user.full_name %></a><span><%= child_comment.created_at.to_s :db %></span>
                                </p>

                                <p><%= child_comment.content %></p>
                                <ul class="the-icons">
                                    <%= link_to vote_comment_path(child_comment) do %>
                                        <li><i class="icon-star"></i> <%= child_comment.votes_point %></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    <% end %>

                    <%= form_for(comment.comments.new :user_id => current_user._id) do |f| %>
                        <%= f.hidden_field :user_id %>
                        <%= f.hidden_field :_type %>
                        <%= f.hidden_field :user_id %>
                        <%= f.hidden_field :commentable_id %>
                        <%= f.hidden_field :commentable_type %>
                        <%= f.text_area :content, rows: 4, class: "input-xlarge", style: "width: 740px;", placeholder: "我来评两句" %>
                        <%= f.submit "评论", class: "btn btn-primary" %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <%= form_for(@comment) do |f| %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :_type %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :commentable_id %>
            <%= f.hidden_field :commentable_type %>
            <%= f.text_area :content, rows: 4, class: "input-xlarge", style: "width: 760px;", placeholder: "我来评两句" %>
            <%= f.submit "评论", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
<div class="row" style="margin-top: 30px; margin-left: 0px;">
    <div class="page-header"><h4>你可能也会喜欢</h4></div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail">
                <img src="http://placehold.it/260x220">

                <div class="caption">
                    <h5>休闲卡通印花圆领长袖T恤</h5>

                    <p>很好，很强大！</p>

                    <div class="row user-comment">
                        <img src="http://placehold.it/50x50" class="pull-left">

                        <div class="pull-right user-comment-info">
                            <p><a href="#">jcheng无敌</a></p>

                            <p>这个商品真的很不错！</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <img src="http://placehold.it/260x220">

                <div class="caption">
                    <h5>休闲卡通印花圆领长袖T恤</h5>

                    <p>很好，很强大！</p>

                    <div class="row user-comment">
                        <img src="http://placehold.it/50x50" class="pull-left">

                        <div class="pull-right user-comment-info">
                            <p><a href="#">jcheng无敌</a></p>

                            <p>这个商品真的很不错！</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <img src="http://placehold.it/260x220">

                <div class="caption">
                    <h5>休闲卡通印花圆领长袖T恤</h5>

                    <p>很好，很强大！</p>

                    <div class="row user-comment">
                        <img src="http://placehold.it/50x50" class="pull-left">

                        <div class="pull-right user-comment-info">
                            <p><a href="#">jcheng无敌</a></p>

                            <p>这个商品真的很不错！</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <img src="http://placehold.it/260x220">

                <div class="caption">
                    <h5>休闲卡通印花圆领长袖T恤</h5>

                    <p>很好，很强大！</p>

                    <div class="row user-comment">
                        <img src="http://placehold.it/50x50" class="pull-left">

                        <div class="pull-right user-comment-info">
                            <p><a href="#">jcheng无敌</a></p>

                            <p>这个商品真的很不错！</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail">
                <img src="http://placehold.it/260x220">

                <div class="caption">
                    <h5>休闲卡通印花圆领长袖T恤</h5>

                    <p>很好，很强大！</p>

                    <div class="row user-comment">
                        <img src="http://placehold.it/50x50" class="pull-left">

                        <div class="pull-right user-comment-info">
                            <p><a href="#">jcheng无敌</a></p>

                            <p>这个商品真的很不错！</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>