<div id="view_share_main">
  <div class="container_24">
    <div class="clear"></div>
    <div class="grid_24 main_content">
        <!-- 左 -->
        <div class="grid_9">
          <!-- 商品主图 -->
          <div class="share_img_view">
              <img src="<%=@share.item.image%>" />
          </div>
          <div>&nbsp;</div>
          <!-- 建议商品 -->
          <div id="suggest_shares" class="white_bg">
              <div class="suggest_shares_title">你可能也会喜欢的商品</div>
              <div class="suggest_shares_item">
            <a href="viewShare.html"><img class="suggest_item_img" src="http://img04.taobaocdn.com/bao/uploaded/i4/T1e9yAXnVTXXai4lU8_101513.jpg_40x40.jpg"/></a>
            <div class="suggest_shares_item_right">
                <div class="title">进口女装2011新款韩版毛衣</div>
                <div class="status">
              <div class="liked_info">
                  <div class="liked_img">&nbsp;</div>
                  <div class="liked_num">643</div>
              </div>
              
              <div class="wish_info">
                  <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                  <div class="wish_num">63</div>
              </div>
                </div>  
            </div>
              </div>
              
              <div class="suggest_shares_item">
            <a href="viewShare.html"><img class="suggest_item_img" src="http://img02.taobaocdn.com/bao/uploaded/i2/T1YfSMXkRrXXciqkI__110225.jpg_40x40.jpg"/></a>
            <div class="suggest_shares_item_right">
                <div class="title">2011新款冬装韩版女装宽松打底衫</div>
                <div class="status">
              <div class="liked_info">
                  <div class="liked_img">&nbsp;</div>
                  <div class="liked_num">123</div>
              </div>
              
              <div class="wish_info">
                  <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                  <div class="wish_num">54</div>
              </div>
                </div>  
            </div>
              </div>
              
              <div class="suggest_shares_item">
            <a href="viewShare.html"><img class="suggest_item_img" src="http://img04.taobaocdn.com/bao/uploaded/i4/T175ahXXVXXXcIPBcY_030341.jpg_40x40.jpg"/></a>
            <div class="suggest_shares_item_right">
                <div class="title">2011秋装新款韩版女装冬装打底裙</div>
                <div class="status">
              <div class="liked_info">
                  <div class="liked_img">&nbsp;</div>
                  <div class="liked_num">35</div>
              </div>
              
              <div class="wish_info">
                  <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                  <div class="wish_num">12</div>
              </div>
                </div>  
            </div>
              </div>
              
              <div class="suggest_shares_item">
            <a href="viewShare.html"><img class="suggest_item_img" src="http://img02.taobaocdn.com/bao/uploaded/i2/T15CuaXmpjXXXXQ.Z._084013.jpg_40x40.jpg"/></a>
            <div class="suggest_shares_item_right">
                <div class="title">2011新款夏装韩版女装字母印花长款</div>
                <div class="status">
              <div class="liked_info">
                  <div class="liked_img">&nbsp;</div>
                  <div class="liked_num">75</div>
              </div>
              
              <div class="wish_info">
                  <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                  <div class="wish_num">32</div>
              </div>
                </div>  
            </div>
              </div>
              
              <div class="suggest_shares_item">
            <a href="viewShare.html"><img class="suggest_item_img" src="http://img03.taobaocdn.com/bao/uploaded/i3/T11fCDXj8JXXaZYyvX_115525.jpg_40x40.jpg"/></a>
            <div class="suggest_shares_item_right">
                <div class="title">2011新款冬装韩版女装简约打底裙</div>
                <div class="status">
              <div class="liked_info">
                  <div class="liked_img">&nbsp;</div>
                  <div class="liked_num">35</div>
              </div>
              
              <div class="wish_info">
                  <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                  <div class="wish_num">12</div>
              </div>
                </div>  
            </div>
              </div>
              
              <div class="suggest_shares_item">
            <a href="viewShare.html"><img class="suggest_item_img" src="http://img01.taobaocdn.com/bao/uploaded/i1/T1CViIXmNkXXXXd.A__111018.jpg_40x40.jpg"/></a>
            <div class="suggest_shares_item_right">
                <div class="title">秋冬新款V领套头毛衣女士气质毛毛领短款</div>
                <div class="status">
              <div class="liked_info">
                  <div class="liked_img">&nbsp;</div>
                  <div class="liked_num">45</div>
              </div>
              
              <div class="wish_info">
                  <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                  <div class="wish_num">22</div>
              </div>
                </div>  
            </div>
              </div>
              
              <div class="suggest_shares_item">
            <a href="viewShare.html"><img class="suggest_item_img" src="http://img02.taobaocdn.com/bao/uploaded/i2/T1qIyoXltRXXaC1MwW_023516.jpg_40x40.jpg"/></a>
            <div class="suggest_shares_item_right">
                <div class="title">外出防风必备 2011秋冬新款OL修身中长款</div>
                <div class="status">
              <div class="liked_info">
                  <div class="liked_img">&nbsp;</div>
                  <div class="liked_num">45</div>
              </div>
              
              <div class="wish_info">
                  <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                  <div class="wish_num">22</div>
              </div>
                </div>  
            </div>
              </div>
              
              <div class="suggest_shares_item">
            <a href="viewShare.html"><img class="suggest_item_img" src="http://img04.taobaocdn.com/bao/uploaded/i4/T175ahXXVXXXcIPBcY_030341.jpg_40x40.jpg"/></a>
            <div class="suggest_shares_item_right">
                <div class="title">2011秋装新款韩版女装冬装打底裙</div>
                <div class="status">
              <div class="liked_info">
                  <div class="liked_img">&nbsp;</div>
                  <div class="liked_num">35</div>
              </div>
              
              <div class="wish_info">
                  <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                  <div class="wish_num">12</div>
              </div>
                </div>  
            </div>
              </div>
              
          </div>
        </div>

        <!-- 中 -->
        <div class="grid_10 white_bg">
          <div id="share_content" class="text_12">
              <div class="avatar">
                <img src="<%=@share.user.avatar%>"/>
                <div class="avatar_right">
                    <div class=""><%=@share.user.full_name%></div>
                    <div class="secondary_color">好朋友，分享达人</div> 
                </div>
                <div class="share_total">
                    <div class=""><a href="<%=url_for @share.user %>"><%=@share.user.shares.length%>条分享</a></div>
                    <div class=""><%=@share.user.likes.length%>条喜欢</div>
                </div>
              </div>
              
              <%if @share.item.shares.length>1%>
              <div class="the_same_shares clear_both">
                <div class="the_same_shares_label">他/她分享了同一商品</div>
                <ul class="">
                  <%@share.item.shares.each do |share|%>
                    <%if share!=@share%>
                    <li class="the_same_shares_item">
                      <a href="<%=url_for share %>" title="<%=share.user.full_name%>"><img class="the_same_shares_item_img" src="<%=share.user.avatar%>"/></a>
                    </li>
                    <%end%>
                  <%end%>
                </ul>
              </div>
              <%end%>
              
              <div class="clear_both no_height">&nbsp;</div>
              <div class="title"><%= @share.item.title %> <span class="text_10_2 dark_color2">2011/11/24</span></div>
              <div></div>
              <div class="status">
            <div class="liked_info">
                <div class="liked_img">&nbsp;</div>
                <div class="liked_num"><%= @share.likes.length %></div>
            </div>
            
            <div class="wish_info">
                <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                <div class="wish_num"><%= @share.wishes.length %></div>
            </div>
              </div>
              <div class="description clear_both"><%=@share.comment%></div>
              <div class="item_rating_container">
                <div class="label">评分：</div><div id="item_rating" class="item_rating" stars="<%=@share.product_rating%>">&nbsp;</div>
              </div>
              <div class="clear_both no_height">&nbsp;</div>
              <div class="item_price item_info_position">价格：<%=@share.price%>元</div>
              <div class="item_address item_info_position"><span>在这买的：</span<span><a href="http://item.taobao.com/item.htm?id=<%=@share.source%>" target="_blank"><span class="secondary_color">淘宝网</span><span class="mandatory_color">(看看去)</span></a></div>
              
              <div class="separator">&nbsp;</div>
              <!-- 评论表单 -->
              <div class="item_comment_add">
                <div class="btn_left"><a class="add_like_btn" href="javascript:void(0);">+喜欢</a></div>
                <div class="btn_left"><a class="add_wish_btn" href="javascript:void(0);">+想买</a></div>
                
                <%= form_for(@comment) do |f| %>
                <%=f.hidden_field :object_id_type%>
                <div class="btn"><a class="add_cmt_btn" href="javascript:$('form')[0].submit();" class="">添加评论</a></div>
                <%= f.text_area :comment, rows: 5, id: "comment_content_text"%>
                <%end%>
            </div>
  
              <!-- 评论列表-->
              <%@share.comments.each do |comment|%>
              <div class="item_comment">
                <div class="avatar">
                    <img src="<%=comment.user.avatar%>"/>
                    <div class="avatar_right">
                      <div class=""><span><%=comment.user.full_name%></span> <span class="text_10_2 dark_color2">2分钟前评论</span></div>
                      <div class="secondary_color">好朋友</div>  
                    </div>
                </div>
                <div class="comment_content"><%=comment.comment%></div>
              </div>
              <%end%>
              
          </div>
        </div>
      
        <!-- 右：相似的人 -->
        <div class="grid_4 white_bg text_12">
          <div id="tastemate_content">
              <div class="title">品味类似的人</div>
              <div class="sub_title">海内存知己，时刻共分享</div>
              
              <div class="tastemate_item clear_both">
            <div class="avatar">
                <img src="/images/avatars/rockyin.jpg"/>
                <div class="avatar_right">
              <div class=""><span>永远的黑石头</span></div>
              <div class="secondary_color un_follow_home"><a href="javascript:void(0)">+到我的圈子</a></div> 
                </div>
            </div>
              </div>
              
              <div class="tastemate_item clear_both">
            <div class="avatar">
                <img src="/images/avatars/xuesong.jpg"/>
                <div class="avatar_right">
              <div class=""><span>大青压雪松</span></div>
              <div class="secondary_color un_follow_home"><a href="javascript:void(0)">+到我的圈子</a></div> 
                </div>
            </div>
              </div>
              
              <div class="tastemate_item clear_both">
            <div class="avatar">
                <img src="/images/avatars/stanford.png"/>
                <div class="avatar_right">
              <div class=""><span>最后的恐龙S丹佛</span></div>
              <div class="secondary_color un_follow_home"><a href="javascript:void(0)">+到我的圈子</a></div> 
                </div>
            </div>
              </div>
          </div>
        </div>
        
    </div>
  </div>
</div>


