<div class="thumbnail row notification-block">
    <%= image_tag small_avatar_url(notification.sender.avatar), :width => '50', class: "pull-left" %>
    <div class="pull-right notification-info">
        <h5 style='float:left'><%= link_to notification, notification, :style => notification.checked ? "" : "font-weight: bold;" %></h5>

        <p style="clear:both"><%= notification.created_at.to_s :db %></p>
        <% unless notification.related_item.nil? %>
            <ul class="images-list">
                <li>
                    <%= link_to notification.related_item do %>
                        <%= image_tag notification.related_item.image %>
                    <% end %>
                </li>
            </ul>
        <% end %>
    </div>
</div>