<div class="row all_notifications span12">
    <div class="span8 offset2">
        <ul id="notifications_tab" class="nav nav-tabs">
            <li class=""><a href="#wishes" data-toggle="tab">新的愿望</a></li>
            <li class=""><a href="#downs" data-toggle="tab">新的降价</a></li>
            <li class=""><a href="#comments" data-toggle="tab">新的评论</a></li>
            <li class=""><a href="#follows" data-toggle="tab">新的关注</a></li>
            <li class=""><a href="#ats" data-toggle="tab">新@我的</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in" id="wishes">
                <div class="row" style="margin-left: 0px;">
                    <% unless @w_notifs.blank? %>
                        <% @w_notifs.each do |n| %>
                            <div class="single_notification">
                                <%= image_tag small_avatar_url(n.sender.avatar), width: 35, class: "pull-left" %>

                                <div class="pull-left notification_block">
                                    <%= link_to raw(n), n, :style => n.checked ? "" : "font-weight: bold;" %>
                                    <h6><%= n.created_at.to_s :db %></h6>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        <% end %>
                        <%= bootstrap_will_paginate @w_notifs, :param_name => 'w_notifs_page' %>
                    <% else %>
                        <h4 class="friend-msg">没有新的愿望。</h4>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade in" id="downs">
                <div class="row" style="margin-left: 0px;">
                    <% unless @d_notifs.blank? %>
                        <ul class="thumbnails">
                            <% @d_notifs.each do |n| %>
                                <%= render :partial => "notification", :object => n %>
                            <% end %>
                        </ul>
                        <%= bootstrap_will_paginate @d_notifs, :param_name => 'd_notifs_page' %>
                    <% else %>
                        <h4 class="friend-msg">没有新的降价通知。</h4>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade in" id="comments">
                <div class="row" style="margin-left: 0px;">
                    <% unless @c_notifs.blank? %>
                        <% @c_notifs.each do |n| %>
                            <div class="single_notification">
                                <%= image_tag small_avatar_url(n.sender.avatar), width: 35, class: "pull-left" %>

                                <div class="pull-left notification_block">
                                    <%= link_to raw(n), n, :style => n.checked ? "" : "font-weight: bold;" %>
                                    <h6><%= n.created_at.to_s :db %></h6>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        <% end %>
                        <%= bootstrap_will_paginate @c_notifs, :param_name => 'c_notifs_page' %>
                    <% else %>
                        <h4 class="friend-msg">没有新的关注。</h4>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade in" id="follows">
                <div class="row" style="margin-left: 0px;">
                    <% unless @f_notifs.blank? %>
                        <% @f_notifs.each do |n| %>
                            <div class="single_notification">
                                <%= image_tag small_avatar_url(n.sender.avatar), width: 35, class: "pull-left" %>

                                <div class="pull-left notification_block">
                                    <%= link_to raw(n), n, :style => n.checked ? "" : "font-weight: bold;" %>
                                    <h6><%= n.created_at.to_s :db %></h6>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        <% end %>
                        <%= bootstrap_will_paginate @f_notifs, :param_name => 'f_notifs_page' %>
                    <% else %>
                        <h4 class="friend-msg">没有找到对应的用户。</h4>
                    <% end %>
                </div>
            </div>
            <div class="tab-pane fade in" id="ats">
                <div class="row" style="margin-left: 0px;">
                    <% unless @a_notifs.blank? %>
                        <% @a_notifs.each do |n| %>
                            <div class="single_notification">
                                <%= image_tag small_avatar_url(n.sender.avatar), width: 35, class: "pull-left" %>

                                <div class="pull-left notification_block">
                                    <%= link_to raw(n), n, :style => n.checked ? "" : "font-weight: bold;" %>
                                    <h6><%= n.created_at.to_s :db %></h6>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        <% end %>
                        <%= bootstrap_will_paginate @a_notifs, :param_name => 'a_notifs_page' %>
                    <% else %>
                        <h4 class="friend-msg">没有新@我的。</h4>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#notifications_tab a[data-toggle="tab"]').on('shown', function (e) {
            var parts = decodeURI(e.target).split('#');
            $.cookie('cur_notifications_tab', parts[1]);
        });

        var cur_notifications_tab = $.cookie('cur_notifications_tab');
        if (cur_notifications_tab != null) {
            $('#notifications_tab a[href="#' + cur_notifications_tab + '"]').tab('show');
        } else {
            $('#notifications_tab a:first').tab('show');
        }
    });
</script>
