<div class="thumbnail avatar user_badge">
    <ul class="nav nav-pills">
        <li>
            <div class='avatar_img'>
                <%= image_tag big_avatar_url(avatar2.avatar), :width => '80' %>
            </div>
        </li>
        <li><div class='avatar_name'><%= @user.name %></div></li>
    </ul>
    
    <div class="caption">
        <%= link_to followees_user_path(avatar2) do %>
            <span>关注</span><strong><%= avatar2.followees_count_by_type(User.name) %></strong>
        <% end %>&#160;&#160;|&#160;&#160;
        <%= link_to followers_user_path(avatar2) do %>
            <span>粉丝</span><strong><%= avatar2.followers_count_by_type(User.name) %></strong>
        <% end %>
    </div>
</div>
