<div class="thumbnail avatar user_badge">
  <ul class="nav nav-pills">
    <li>
      <div class='avatar_img'>
        <%= image_tag big_avatar_url(avatar.avatar), :width => '80' %>
      </div>
    </li>
    <li><div class='avatar_name'><%= @user.name %></div></li>
  </ul>

    <div class="caption">
        <ul class="nav nav-pills info" style="font-size: 12px;">
            <li>
                <%= link_to followees_user_path(avatar) do %>
                    <strong><%= avatar.followees_count_by_type(User.name) %></strong><span>关注</span>
                <% end %>
            </li>
            <li>
                <%= link_to followers_user_path(avatar) do %>
                    <strong><%= avatar.followers_count_by_type(User.name) %></strong><span>粉丝</span>
                <% end %>
            </li>
            <li>
                <%= link_to my_all_shares_user_path(avatar) do %>
                    <strong><%= avatar.shares.size %></strong><span>愿望</span>
                <% end %>
            </li>
        </ul>
    </div>
</div>
