<div class='inviteuser' id='invite-panel'>
    <a class='close'></a>
    <h4>想知道好友的愿望就邀请她加入吧</h4>
    <%= form_for(@user, :url => invite_user_path(@user), :method => :post, :remote => true) do |f| %>
        <%= text_area_tag :message, "亲　真的很想知道你的愿望清单 因为送你什么礼物这个问题已经困扰了很多年了 :-) 和我一起在菠萝蜜来收藏想买　分享愿望吧 (来自@菠萝点蜜 boluo.me)", :class => "input-xlarge", :cols => "40", :rows => "4", :style => "width: 98%;" %>

        <div class='info'>
            <h5>选择要@的好友</h5>
            <input type="text" id="inviteuser_search" class="input-medium" value="" placeholder="搜索好友">
            <script type="text/javascript">
                $("#inviteuser_search").keyup(function () {
                    var searchContent = $(this).val();

                    $(".candi-list ul").each(function () {
                        var el = $(this);
                        var userName = el.attr("value");
                        if (searchContent == "" || userName.toLowerCase().indexOf(searchContent.toLowerCase()) != -1) {
                            el.show();
                        } else {
                            el.hide();
                        }
                    })
                });
            </script>
        </div>

        <div class='candi-list'>
            <% @user.accounts.to_a.each do |a| %>
                <% a.friends_names.to_a.each_with_index do |f, i| %>
                    <ul class='nav nav-pills'value="<%= f %>">
                        <li><%= check_box_tag "users[]", "#{f}" %></li>
                        <li>
                            <div><%= avatar_image_tag a.friends_profile_urls[i] unless a.friends_profile_urls.nil? %></div>
                        </li>
                        <li class='name'><%= f %></li>
                    </ul>
                <% end %>
            <% end %>
        </div>
        <div style='clear:both'>
            <%= f.submit "发送", :class => "btn btn-primary" %>
        </div>
    <% end %>
</div>
