<div class="thumbnail row friend-block">
    <%= image_tag small_avatar_url(summary.avatar), :width => '50', class: "pull-left" %>
    <div class="pull-right friend-info">
        <div>
            <h5 style='float:left'><%= link_to summary.nick_name, account_user_path(summary) %></h5>
            <div style='float:left' class="user-block-link <%= "#{summary._id}-follow" %>">
              <%=
                link_to_unless current_user.follower_of?(summary), '关注', follow_user_path(summary), remote: true, class: "btn btn-small btn-success" do
                  link_to '取消关注', unfollow_user_path(summary), remote: true, class: "btn btn-small btn-success"
                end
              %>
            </div>
        </div>
        <ul style='clear:both'>
            <li><span>关注  </span><%= link_to summary.followees_count_by_type(User.name), followees_user_path(summary) %> </li>
            <li><span>粉丝  </span><%= link_to summary.followers_count_by_type(User.name), followers_user_path(summary) %></li>
            <li><span>分享  </span><%= link_to summary.shares.size, my_all_shares_user_path(summary)%></li>
        </ul>
        <ul class="images-list">
            <% if summary.shares.count == 0 %>
                <p class="text-info">这位亲还没有任何愿望哦</p>
            <% else %>
                <% summary.shares.desc(:created_at).only_public.limit(6).each do |share| %>
                    <li>
                        <%= link_to share do %>
                            <%= image_tag share.item.image %>
                        <% end %>
                    </li>
                <% end %>
            <% end -%>
        </ul>
    </div>
</div>
