<div class="thumbnail row friend-block">
    <%= image_tag small_avatar_url(summary.avatar), :width => '50', class: "pull-left" %>
    <div class="pull-right friend-info">
        <h5><%= link_to summary.nick_name, account_user_path(summary) %></h5>
        <ul>
            <li>推荐 <%= summary.shares.by_type(Share::TYPE_SHARE).size %></li>
            <li>背包 <%= summary.shares.by_type(Share::TYPE_BAG).size %></li>
            <li>愿望 <%= summary.shares.by_type(Share::TYPE_WISH).size %></li>
        </ul>
        <ul class="images-list">
            <% if summary.recent_shares.count == 0 %>
                <p class="text-info">这位亲还没有分享过商品哦</p>
            <% else %>
                <% summary.recent_shares(6).each do |share| %>
                    <li>
                        <%= link_to share do %>
                            <%= image_tag share.item.image %>
                        <% end %>
                    </li>
                <% end %>
            <% end -%>
        </ul>
    </div>
</div>
