<script>
$(document).ready(function(){
   $('.item_block .item_left').mouseover(function(){
      $(this).find('.item_actions').css('display', 'block');
   }).mouseout(function(){
      $(this).find('.item_actions').css('display', 'none');
   });
});
</script>
<div class="row dashboard">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <ul class="nav nav-pills nav-stacked sidebars" style="margin-top: 15px;">
            <li class="active"><%= link_to "我的关注", dashboard_user_path(current_user) %></li>
            <li><%= link_to "我的分享", my_shares_user_path(current_user) %></li>
            <li><a href="#">好友的分享</a></li>
            <li><a href="#">热门推荐</a></li>
        </ul>
    </div>
    <div class="span8">
        <div class="row" style="margin-left: 0px;">
            <ul class="nav nav-pills well category">
                <li class="active"><a href="#">数码</a></li>
                <li><a href="#">户外</a></li>
                <li><a href="#">男装</a></li>
                <li><a href="#">女装</a></li>
                <li><a href="#">饰品</a></li>
                <li><a href="#">化妆品</a></li>
                <li><a href="#">居家</a></li>
                <li><a href="#">其它</a></li>
            </ul>
        </div>
        <ul class="tag">
          <% Item.top_tags.each do |ttag| %>
          <li><a href="#"><%= ttag[0] %></a></li>
          <% end %>
        </ul>
        <div class="page_header"><h4>分享</h4></div>
        <div class="row" style="margin-left: 0px;">
            <% @user.followed_shares.each do |share| %>
                <%= render :partial => "shares/share", :object => share %>
            <% end %>
        </div>
    </div>
</div>
