<div class="dashboard">
    <div class="dash-basic-info">
        <%= render :partial => "avatar2", :object => @user %>
        <ul class='nav nav-pills'>
            <li id='share-link' role="button" rel="#share-panel" data-toggle="modal"><i class='icon-heart'></i> 添加愿望</li>
            <li id='finduser-link' role="button" rel="#finduser-panel"><i class='icon-search'></i> 查找好友</li>
            <li id='invite-link' role="button" rel="#invite-panel"><i class='icon-user'></i> 邀请好友</li>
        </ul>
    </div>
    <div class="wishesReviewBar navbar">
        <ul class="nav">
            <li>
                <%= link_to my_shares_user_path(@user), :class => current_page?(:controller => 'users', :action => 'my_shares') ? 'active' : '' do %>
                    我的收藏 <%= @user.shares.by_type(Share::TYPE_SHARE).count %>
                <% end %>
            </li>
            <li>
                <%= link_to my_wishes_user_path(@user), :class => current_page?(:controller => 'users', :action => 'my_wishes') ? 'active' : '' do %>
                    我的新愿望 <%= @user.shares.by_type(Share::TYPE_WISH).count %>
                <% end %>
            </li>
            <li>
                <%= link_to my_bags_user_path(@user), :class => current_page?(:controller => 'users', :action => 'my_bags') ? 'active' : '' do %>
                    我实现的愿望 <%= @user.shares.by_type(Share::TYPE_BAG).count %>
                <% end %>
            </li>
            <li>
                <%= link_to '热门愿望', promote_shares_user_path(@user), :class => current_page?(:controller => 'users', :action => 'promote_shares') ? 'active' : '' %>
            </li>
            <li>
                <%= link_to '好友动态', dashboard_user_path(@user), :class => current_page?(:controller => 'users', :action => 'dashboard') ? 'active' : '' %>
            </li>
            <li>
                <%= link_to '间接好友动态', cycle_shares_user_path(@user), :class => current_page?(:controller => 'users', :action => 'cycle_shares') ? 'active' : '' %>
            </li>
        </ul>
    </div>
    <div>
        <h4 id="notice" style="display: none; margin-top: 20px;"></h4>
        <ul id="shares" style="margin-left: 0px;">
        </ul>
    </div>
</div>
<div id="progress_more" class="progress-loading" style="display: block;">
    <%= image_tag "loading.gif" %>
</div>
<ul class="pager">
    <li><%= link_to "更多动态", "javascript: void(0);", :remote => true, :id => "more", :page => 0, :style => "display: none;" %></li>
</ul>
<%= render :partial => "users/myaction_finduser" %>
<%= render :partial => "users/myaction_inviteuser" %>