<div id="ms_main">
  <div class="container_24">
    <div class="clear"></div>
    <div class="grid_24 main_content">
      <div class="grid_6">
        <%= render 'left_filter' %>
      </div>
      <div class="grid_18">
        <div id="ms_menu">
          <div id="ms_menu_item_0" class="ms_menu_item selected_m">
              <a href="#" onclick="return false;" title="所有分享">所有分享</a>
          </div>
          
          <div id="ms_menu_item_1" class="ms_menu_item">
              <a href="#" onclick="return false;" title="我喜欢的分享">我喜欢的</a>
          </div>
          
          <div id="ms_menu_item_2" class="ms_menu_item">
              <a href="#" onclick="return false;" title="我推荐的分享">我推荐的</a>
          </div>
          
          <div id="ms_menu_item_3" class="ms_menu_item">
              <a href="#" onclick="return false;" title="好友推荐给我的分享">好友推荐</a>
          </div>
          
          <div id="ms_menu_item_4" class="ms_menu_item">
              <a href="#" onclick="return false;" title="私下的分享">私下的分享</a>
          </div>

          <div id="" class="share_btn">
              <%= link_to '我要分享', new_item_path %>
          </div>
        </div>
        <div class="clear"></div>
        
        <%
        @user.shared_with_me.keys.each_index do |index|
          next if index%3!=0
        %>
        <ul>
        <%
          item_of_three = @user.shared_with_me.keys.slice(index, 3)
          item_of_three.each do |item|
            share = @user.shared_with_me[item].first
        %>
          <li class="item">
              <div class="inner_border" onclick="location.href='<%=url_for share %>'">
            <img class="snapshot" src="<%=share.item.image%>" />
            <div class="image_text">
              <div class="title">
                <div class="avatar">
                  <img src="<%=share.user.avatar%>"/>
                  <div class="avatar_right text_10">
                    <div><%=share.user.full_name%></div>
                    <div class="secondary_color">自己</div> 
                  </div>
                </div>
                <div class="general_info">
                  <div class="liked_info">
                    <div class="liked_img">&nbsp;</div>
                    <div class="liked_num text_10"><a href="javascript:void(0);" title="有<%=share.likes.length%>人喜欢"><%=share.likes.length%></a></div>
                  </div>
                  
                  <div class="wish_info">
                    <div class="wish_img"><img src="/images/present_pencil.png"/></div>
                    <div class="wish_num text_10"><a href="javascript:void(0);" title="有<%=share.wishes.length%>人想买"><%=share.wishes.length%></a></div>
                  </div>
                </div>
              </div>
              <div class="description">
                <div class="desc_header">
                  <div class="line1"> 
                    <div class="desc_title text_12"><%=share.item.title%></div>
                    <div class="desc_date text_10">2011/11/24</div>
                  </div>
                  <div class="line2">
                    <div id="fixed_rating_star">&nbsp;</div>
                  </div>
                </div>
                <div class="desc_body text_10">
                  <div class="desc_content">
                    <%=share.comment%>
                  </div>
                  <div class="item_comment">
                    <div class="item_comment_img"><img src="/images/comment.png" /></div>
                    <div class="item_comment_num"><a href="javascript:void(0);" title="有<%=share.comments.length%>条评论"><%=share.comments.length%></a></div>
                  </div>
                </div>
              </div>
            </div>
              </div>
          </li>
        <%
          end # loop of three
        %>
        </ul>
        <%
        end # outter loop
        %>
      </div>
    </div>
  </div>
</div>