<div class="row main dashboard">
    <div class="span12 row userinfo">
        <div class="span3">
            <%= render :partial => "avatar", :object => @user %>
        </div>
        <div class="span7">
            <ul class='myActions nav nav-pills'>
                <li><i class='icon-heart'></i>许个愿望</li>
                <li><i class='icon-search'></i>查找好友</li>
                <li><i class='icon-user'></i>邀请好友</li>
            </ul>
            <div class='myActions-panel' style='display:none'>
                <%= render :partial => "users/myaction_wishlist" %>
                <%= render :partial => "users/myaction_finduser" %>
                <%= render :partial => "users/myaction_inviteuser" %>
            </div>
        </div>
    </div>
    <div class="span12 wishCountBar navbar">
        <ul class="nav">
            <li>热门愿望 8</li>
            <li>我的新愿望 1</li>
            <li>我实现的愿望 2</li>
            <li>我的推荐 2</li>
            <li>好友动态 13</li>
            <li>二级好友动态 20</li>
        </ul>
    </div>
    <div class="span12 row">
        <% @shares.each do |share| %>
            <%= render :partial => "shares/share", :object => share %>
        <% end %>
        
    </div>
    <div class="span12 ">
        <%= bootstrap_will_paginate @shares %>
    </div>
</div>