<div class="row">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
    </div>
    <div class="span10 account">
        <h1 class="page-header"><%= @user.nick_name %></h1>
        <%= form_for @user, :url => update_account_user_path(@user), :method => :put, :html => {:class => "form-horizontal"} do |f| %>
            <fieldset>
                <div class="control-group">
                    <%= f.label :city, '城市', :class => "control-label" %>

                    <div class="controls">
                        <%= f.text_field :city, :class => "input-medium focused" %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :birthday, '生日', :class => "control-label" %>

                    <div class="controls">
                        <%= f.date_select :birthday, :start_year => Time.now.year - 100, :end_year => Time.now.year %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :email, '邮箱', :class => "control-label" %>

                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-envelope"></i></span><%= f.text_field :email, :class => "input-large" %>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :address, '地址', :class => "control-label" %>

                    <div class="controls">
                        <%= f.text_field :address, :class => "input-xlarge focused" %>
                    </div>
                </div>
                <div class="control-group">
                    <%= f.label :introduction, '个人简介', :class => "control-label" %>

                    <div class="controls">
                        <%= f.text_area :introduction, :rows => 5, :class => "input-xlarge focused" %>
                    </div>
                </div>
                <div class="form-actions">
                    <%= f.submit "保存修改", :class => "btn btn-primary" %>
                    <%= link_to "取消", account_user_path(@user), :class => "btn" %>
                </div>
            </fieldset>
        <% end %>
    </div>
</div>