<% content_for :javascripts do %>
    <script type="text/javascript">
        $(function () {
            $(".item-block textarea").focusin(
                    function () {
                        $(this).attr("rows", 3);
                    }).focusout(function () {
                        $(this).attr("rows", 1);
                    });
        });
        $(document).ready(function () {
            $('.item_block .item_left').mouseover(
                    function () {
                        $(this).find('.item_actions').css('display', 'block');
                    }).mouseout(function () {
                        $(this).find('.item_actions').css('display', 'none');
                    });
        });
    </script>
<% end %>

<div class="row left_nav myshares">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <ul class="nav nav-pills nav-stacked sidebars" style="margin-top: 15px;">
            <li><%= link_to "我的关注", dashboard_user_path(current_user) %></li>
            <li class="active"><%= link_to "我的分享", my_shares_user_path(current_user) %></li>
            <li><a href="#">好友的分享</a></li>
            <li><a href="#">热门推荐</a></li>
        </ul>
    </div>
    <div class="span10">
        <%= render "categories/category" %>
        <%= render "items/toptags" %>

        <div class="page-header"><h4>分享</h4></div>
        <div class="row" style="margin-left: 0px;">
            <% @shares.each do |share| %>
                <%= render :partial => "shares/share", :object => share %>
            <% end %>
        </div>
    </div>
</div>
