<h2>User profile</h2>

<p id="notice"><%= notice %></p>

<p>
    <i>_id: <%= @user._id %></i><br/>
    <b>Full Name:</b> <%= @user.nick_name %><br/>
    <b>Nick Name:</b> <%= @user.nick_name %><br/>
    <img src="<%= @user.avatar %>"/>
</p>
<p>
    <b>I'm following:</b>
<ul>
    <% @user.followees_by_type(User.name).each do |f| %>
        <li><%= link_to "#{f.nick_name} (#{f.nick_name})", f %> | <%= link_to 'unfollow', unfollow_user_path(f) %></li>
    <% end %>
</ul>
</p>
<hr/>
<p>
    <b>My followers:</b>
<ul>
    <% @user.followers_by_type(User.name) do |f| %>
        <li><%= link_to "#{f.nick_name} (#{f.nick_name})", f %></li>
    <% end %>
</ul>
</p>
<hr/>
<p>
    <b>My shares:</b>
<ul>
    <% @user.shares.each do |f| %>
        <li><%= link_to "#{f.user.nick_name}'s share about (#{f.item.title})", f %></li>
    <% end %>
</ul>
</p>
<hr/>

<%= link_to 'Edit', edit_user_path(@user), :class=>'btn primary' %>
<%= link_to 'Back', users_path, :class=>'btn' %>
