				<div class="steps_2">第2步：设置/完善您的帐号信息</div>
				<div>
          <%= form_for @user do |f| %>
          <%= f.label :nick_name %>
          <%= f.text_field :nick_name , :value => @username %>
          <%= f.label :email %>
          <%= f.text_field :email %>
          <%= f.label :password %>
          <%= f.password_field :password %>
          <% if @user.avatar.nil? %>
          <%= hidden_field_tag "user[avatar]", @user.accounts.last.avatar %>
        <% end%>
          <%= f.submit "完成" %>
        <% end %>
				</div>
