<head>
  <meta property="wb:webmaster" content="d8c0ee16f0cc4d98" />
</head>
<div id="register_main">
  <div id="loginBar">
    <%= link_to "用新浪微博帐号登录", sync_new_path(type: 'sina'), :class => 'sina-connect' %>
    <%= link_to "用腾讯微博创建登录", sync_new_path(type: 'qq'), :class => 'qq-connect' %>
  </div>
  <div id="tileIcons">
    <div class="item">
      <%= image_tag "makeawish.png" %>
      <div class="caption">
        <p><strong class='text-info'>愿望清单</strong></p>
      <p>
      收礼物愁!? 收藏我想买的  
      许下我的心语心愿 
      </p>
      <p>
      送礼物愁!? 来看看好友的愿望 帮TA实现吧
      <br/>
      </p></div>
    </div>
    <div class="item">
      <%= image_tag "pricedrop.jpg" %>
      <div class="caption">
        <p><strong> 降价通知</strong></p>
        <p>想买但是价格居高不下!?  电商的降价通知从来就不靠谱!?  </p>
        <p>菠萝蜜支持所有电商的价格关注 降价通知还可以微博提醒哦! </p>
       <br/>
     </div>
    </div>
    <div class="item">
      <%= image_tag "gift.jpg" %>
      <div class="caption">
        <p><strong>礼品不断</strong></p>
        <p>菠萝蜜每月以抽奖的方式选中一位幸运蜜友 并帮他完成他的愿望清单中的一个愿望哦<br/></p></div>
        <p>蜜友的生日不但会收到好友的礼物 菠萝蜜也会送上我们的心意哦<br/></p></div>
    </div>
  </div>
</div>

<p><wb:follow-button uid="3023348901" type="gray_2" width="136" height="24" ></wb:follow-button></p>

