<head>
  <meta property="wb:webmaster" content="d8c0ee16f0cc4d98" />
</head>
<div id="register_main">
  <div id="loginBar">
    <%= link_to "用新浪微博帐号登录", sync_new_path(type: 'sina'), :class => 'sina-connect' %>
    <%= link_to "用腾讯微博创建登录", sync_new_path(type: 'qq'), :class => 'qq-connect' %>
  </div>
  <div id="tileIcons">
    <div class="item">
      <%= image_tag "recommend.jpg" %>
      <div class="caption"><p>淘到了最便宜最热门最新鲜的宝贝想给好友推荐？<br/>
        看看买家最真实的入手评测吧</p></div>
    </div>
    <div class="item">
      <%= image_tag "gift-box.jpg" %>
      <div class="caption"><p>为送朋友生日礼物发愁？<br/>分享你的愿望清单吧 可能会有来自朋友或者网站的礼物惊喜哦:)</p></div>
    </div>
    <div class="item">
      <%= image_tag "partners.jpg" %>
      <div class="caption"><p>想结识与你"臭"味相投的网购达人？<br/>这是最真实的买家社区</p></div>
    </div>
  </div>
</div>
