<!DOCTYPE html>
<html lang="en">

<head>
    <title>i享买－首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/960_24_col.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/text.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/jquery-ui-1.8.16.custom.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/tipTip.css" type="text/css" media="screen">
    <link rel="stylesheet" href="../css/boluo.memon.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="../css/ssg-index.css" type="text/css" media="screen"/>
    <script src="../js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="../js/jquery-ui-1.8.16.custom.min.js" type="text/javascript"></script>
    <script src="../js/jquery.tipTip.minified.js" type="text/javascript"></script>
    <script src="../js/ssg-1.0-index.js" type="text/javascript"></script>
</head>


<body onload="">

<div id="index_instruction">
	<div class="container_24">
		<div class="clear"></div>
		<div class="grid_24 instruction_content">
			<div class="grid_16 instruction_left">
				<div class="instruction_left_content">
					<div>想知道朋友最近淘到了什么好宝贝?</div>
					<div>朋友快过生日了, 想知道朋友的愿望清单?</div>
					<div>朋友是购物达人, 想听听他的推荐?</div>
				</div>
			</div>
			
			<div class="grid_7">
				<div class="instruction_right">
					用已有帐号登录(<span class="secondary_color">推荐</span>) <span class="help_icon"><a class="why_existing_login" title="1.迅速建立朋友群<br/>2.分享更方便" href="javascript:void(0);"><img style="width:16px;" src="../images/question.png"/></a></span>
					<div class="ins_r_s separator">&nbsp;</div>
					<div id="register_main">
						<div class="sina_wb">
          <%= link_to :controller => 'syncs' ,:type => 'sina' , :action =>'new' do %> 
          <%= image_tag "/images/32-weibo.gif"  %> <span> "用新浪微博创建帐号"</span>
          <% end %>
					</div>
						
						<div class="qq_wb">
          <%= link_to :controller => 'syncs' ,:type => 'qq' , :action =>'new' do %> 
          <%= image_tag "/images/32-qqweibo.gif"  %> <span> "用腾讯微博创建帐号"</span>
          <% end %>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>

<div id="index_main">
	<div class="container_24 outerbox">
		<div class="grid_24 container">
			<ul>
				<li><img id="img_1" src=""/></li>
				<li><img id="img_2" src=""/></li>
				<li><img id="img_3" src=""/></li>
				<li><img id="img_4" src=""/></li>
			</ul>
			
		</div>
	</div>
</div>

<div id="loginBox" style="display:none;">
    <div class="loginBox_l">
    <%= form_tag sessions_path do %>
	<div class="userName">
	  <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
	</div>
	<div class="password">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %> </p>
	</div>
	<div class="loginStatus">
		<input class="chk_bx" type="checkbox" name="rememberMe" id="rememberMe" checked="checked"/>
		<span>记住登录状态</span>
	</div>
	<div class="loginBtn">
		<%= submit_tag "登录" %>
	</div>
<% end %>
	<div class="loginRight">
		<div class="forgetPwd"><a href="#" onclick="return false;">忘记密码？</a></div>
	</div>
    </div>
    <div class="lgn_box_s separator_v">&nbsp;</div>
    <div class="loginBox_r">
	<div class="r_title secondary_color">还没有帐号？</div>
	<div class="r_suggestion">请用已有帐号登录 <span class="help_icon"><a class="why_existing_login" title="1.自动建立帐号<br/>2.迅速建立朋友群<br/>3.分享更方便" href="javascript:void(0);"><img style="width:13px;" src="images/question.png"/></a></span></div>
	<div class="sugst_r_s separator">&nbsp;</div>
	<div id="register_main">
		<div class="sina_wb">
			<a href="setAccount.html" onclick="" title="用新浪微博创建帐号">
				<img src="images/32-weibo.gif" />
				<span>&nbsp;用新浪微博登录</span>
			</a>
		</div>	
		
		<div class="qq_wb">
			<a href="#" onclick="" title="用腾讯微博创建帐号">
				<img src="images/32-qqweibo.gif" />
				<span>&nbsp;用腾讯微博登录</span>
			</a>
		</div>
	</div>
    </div>
</div>

<div id="footer">
	<div class="container_24">
		<div class="clear"></div>
		<div class="grid_24 footer_content">
			<div>Copyright by i享买 2011-2012 boluo.me, all rights reserved</div>
		</div>
	</div>
</div>

</body>
</html>
