<%= simple_form_for(item, :html => {:class => 'simple_form form-horizontal tag-form share-detail'}) do |f| %>
    <div id="bookmarklet_container" class="row bookmarklet_container">
        <div class="span3">
            <div class="share-details-price"><%= number_to_currency(share.price, unit: '￥') %></div>
            <div class="share-details-title" title="<%= item.title %>"><%= item.title %></div>

            <div class="images_picker">
                <div class="image_frame">
                    <img src="<%= imgs.first %>" alt=""/>

                    <div class="dimension"></div>
                </div>
                <ul class="image_list">
                    <% imgs.each do |img| %>
                        <li><img src="<%= img %>" alt=""></li>
                    <% end %>
                    <div class='clear'></div>
                </ul>
            </div>
        </div>

        <div class="span6">
            <%= hidden_field_tag "share[source]", share.source %>
            <%= hidden_field_tag "item[image]", item.image %>
            <%= hidden_field_tag "item[purchase_url]", item.purchase_url %>
            <%= hidden_field_tag "item[sub_shop_name]", item.sub_shop_name %>
            <%= hidden_field_tag "item[sub_shop_url]", item.sub_shop_url %>
            <%= hidden_field_tag "item[source_site]", item.source_site %>
            <%= hidden_field_tag "item[title]", item.title %>
            <%= hidden_field_tag "share[price]", share.price %>

            <%= f.input :category, :label => '分类' do %>
                <%= f.select :category, Hash[categories.map { |c| [c, c] }] %>
            <% end -%>
            <%= f.input :rating_comp, :label => '推荐指数' do %>
                <div id="rating_comp" stars="<%= share.product_rating %>" scoreName="share[product_rating]"></div>
            <% end -%>
            <%= f.input :tags, :label => '标签' do %>
                <input type="hidden" id="tags" name="item[tags]">

                <div tabindex="0" class="tageditor" data-provide="tageditor" data-source='<%= Item.tags %>'>
                    <ul class="tags">
                        <li><input type="text" style="width: 30px;"/></li>
                    </ul>
                </div>
            <% end -%>
            <%= f.input :comment, :label => '推荐评论' do %>
                <%= text_area_tag "share[comment]", share.comment_content, rows: "5", class: 'input-xlarge', id: 'desc', include_blank: false %>
            <% end -%>
            <div class="controls">

                <input type="checkbox" name="add_to_wish" id="add_to_wish"/>&#160;&#160;加入愿望&#160;&#160;&#160;&#160;
                <input type="checkbox" name="add_to_bought" id="add_to_bought"/>&#160;&#160;加入已购

                <div id='wisth_type_list' class="btn-group wisth_type_list"  data-toggle="buttons-radio">
                    <button type="button" class="btn">生日礼物</button>
                    <button type="button" class="btn">情人节</button>
                    <button type="button" class="btn">光棍节</button>
                    <button type="button" class="btn">结婚礼物</button>
                    <button type="button" class="btn">想送就送</button>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay-footer" class="footer">
        <!--<a style='float: left;'>点击试试菠萝蜜书签收集</a>-->

        <div style='float: right;'>
            <input type="checkbox" name="add_to_bought"/>&#160;&#160;分享到微博&#160;&#160;&#160;&#160;
            <input type="checkbox" name="add_to_wish"/>&#160;&#160;订阅降价通知
        </div>
        <%= f.submit '我要推荐', :class => 'btn btn-warning', :style => 'clean: both;margin-left:100px' %>
    </div>
<% end %>
<script>
    var GLOBAL_IMAGES_FROM_BOOKMARK = [];
    <% @imgs.each do |img| %>
    GLOBAL_IMAGES_FROM_BOOKMARK.push('<%= img %>');
    <% end %>

    $(document).ready(function () {
        var src = GLOBAL_IMAGES_FROM_BOOKMARK[0], selected,
                dimension = $('#bookmarklet_container .dimension')[0],
                imageFrame = $('#bookmarklet_container .image_frame img')[0];
        dimension.innerHTML = src.substring(src.lastIndexOf('_') + 1, src.lastIndexOf('.'));
        $('.image_list li').click(function () {
            if (selected) {
                selected.removeClass('selected');
            }
            selected = $(this);
            selected.addClass('selected');
            src = selected.find('img')[0].src;
            imageFrame.src = src;
            dimension.innerHTML = src.substring(src.lastIndexOf('_') + 1, src.lastIndexOf('.'));
            $('#item_image').val(src);
        });
        $('#bookmarklet_container form').on('submit', function (event) {
            if ($('#desc').val().length == 0) {
                alert('请输入推荐评论');
                return false;
            }
        });

        if ($('#rating_comp').length > 0) {
            $('div#rating_comp').raty({
                readOnly:false,
                start:$('div#rating_comp').attr("stars"),
                scoreName:$('div#rating_comp').attr("scoreName"),
                path:'/assets/smallStars',
                hintList:['', '', '', '', '']
            });
        };

        $('#add_to_wish').click(function () {
            if (this.checked) {
                $('#wisth_type_list').css('display', 'block');
                $('#add_to_bought').attr('checked', false);
            } else {
                $('#wisth_type_list').css('display', 'none');
            }
        });
        $('#add_to_bought').click(function () {
            if (this.checked) {
                $('#add_to_wish').attr('checked', false);
                $('#wisth_type_list').css('display', 'none');
            }
        });
    });
</script>

