<%= simple_form_for(item, :html => {:class => 'simple_form form-horizontal tag-form share-detail'}) do |f| %>
    <div id="bookmarklet_container" class="row bookmarklet_container">
        <div class="span3">
          <% unless share.no_price? %>
            <div class="share-details-price"><%= price_tag(share.price) %></div>
            <%= hidden_field_tag "share[price]", share.price %>
              <% else %>
              <%= f.input :price, :label => '价格' do %>
                  <%= text_field_tag 'share[price]', share.price %>
                  <% end %>
              <% end %>
            <div class="share-details-title" title="<%= item.title %>"><%= item.title %></div>

            <div class="images_picker">
                <div class="image_frame">
                    <img src="<%= imgs.first %>" alt=""/>

                    <div class="dimension"></div>
                </div>
                <ul class="image_list">
                    <% imgs.each do |img| %>
                        <li><img src="<%= img %>" alt=""></li>
                    <% end %>
                    <div class='clear'></div>
                </ul>
            </div>
        </div>

        <div class="span5">
            <%= hidden_field_tag "item[image]", item.image %>
            <%= hidden_field_tag "item[source_id]", item.source_id %>
            <%= hidden_field_tag "item[purchase_url]", item.purchase_url %>
            <%= hidden_field_tag "item[sub_shop_name]", item.sub_shop_name %>
            <%= hidden_field_tag "item[sub_shop_url]", item.sub_shop_url %>
            <%= hidden_field_tag "item[source_site]", item.source_site %>
            <%= hidden_field_tag "item[title]", item.title %>

            <%= f.input :category, :label => '分类' do %>
                <%= f.select :category, Hash[categories.map { |c| [c, c] }], prompt: '请选择' %>
                <span class='help-inline' style='color: #3A87AD;display:none'>请选择分类</span>
            <% end -%>
            <!--
            <%= f.input :tags, :label => '标签' do %>
                <input type="hidden" id="tags" name="item[tags]">

                <div tabindex="0" class="tageditor" data-provide="tageditor" data-source='<%= Item.tags %>'>
                    <ul class="tags">
                        <li><input type="text" style="width: 30px;"/></li>
                    </ul>
                </div>
            <% end -%>
            -->
            <%= f.input :comment, :label => '心语心愿' do %>
                <%= text_area_tag "share[comment]", share.comment_content, rows: "5", class: 'input-xlarge', id: 'desc', include_blank: true %>
                <span class='help-inline' style='color: #3A87AD;display:none'>请输入心语心愿</span>
            <% end -%>
            <div class="controls">
                <input type="checkbox" name="add_to_wish" id="add_to_wish" checked />&#160;&#160;新愿望&#160;&#160;&#160;&#160;
                <input type="checkbox" name="add_to_bought" id="add_to_bought"/>&#160;&#160;已实现的愿望
                <input type="hidden" id="wisth_type" name="wisth_type"/>

                <div id='wisth_type_list' class="btn-group wisth_type_list" data-toggle="buttons-radio">
                    <% Share::WISH_TAGS.each_with_index do |t, i| %>
                        <button type="button" class="btn" value="<%= t %>"><%= t %></button>
                    <% end %>
                </div>


            </div>
          <p>
            <%= f.input :visibility , :label => '公开' do %>
                <%= select_tag "share[visibility][]", options_for_select(Item.visibility_selection) %>
<% end -%>
         </p>
        </div>

    </div>

    <div id="overlay-footer" class="share-footer">
        <div style='float: left;'> <%=  link_to instruction_users_path do %> 
            <span class="label">点击试用史上最方便的<strong class="label label-info">一键收藏工具</strong></span>
       <%end%>
          </div>

        <div style='float: right;'>
            <% unless current_user.accounts.sina.blank? %>
                <input name="share_to[]" type="checkbox" value="sina" checked>&#160;&#160;分享愿望到新浪微博&#160;&#160;&#160;&#160;
            <% end %>
            <% unless current_user.accounts.qq.blank? %>
                <input name="share_to[]" type="checkbox" value="qq" checked>&#160;&#160;分享愿望到腾讯微博&#160;&#160;&#160;&#160;
            <% end %>
            <input name="share[subscribed]" type="checkbox" value="1" checked>&#160;&#160;订阅降价通知
        </div>
        <%= f.submit '收藏愿望', :id => 'submitShareBtn', :class => 'btn btn-warning', :style => 'clean: both;' %>
    </div>

    <script type="text/javascript">
        $(function () {
            $("#wisth_type_list button").click(function () {
                $("#wisth_type").val($(this).val());
            });
            $("#wisth_type_list button:first").click();

            var GLOBAL_IMAGES_FROM_BOOKMARK = [];
            var selImg, imgSrc;
            var dimension = $('#bookmarklet_container .dimension')[0];
            var imageFrame = $('#bookmarklet_container .image_frame img')[0];

            <% @imgs.each do |img| %>
            GLOBAL_IMAGES_FROM_BOOKMARK.push('<%= img %>');
            <% end %>

            var imgSrc = GLOBAL_IMAGES_FROM_BOOKMARK[0];
            if (imgSrc) {
                dimension.innerHTML = imgSrc.substring(imgSrc.lastIndexOf('_') + 1, imgSrc.lastIndexOf('.'));
            }

            if ($('#rating_comp').length > 0) {
                $('div#rating_comp').raty({
                    readOnly:false,
                    start:$('div#rating_comp').attr("stars"),
                    scoreName:$('div#rating_comp').attr("scoreName"),
                    path:'/assets/smallStars',
                    hintList:['', '', '', '', '']
                });
            }

            $('.image_list li').click(function () {
                if (selImg) {
                    selImg.removeClass('selected');
                }
                selImg = $(this);
                selImg.addClass('selected');
                imgSrc = selImg.find('img')[0].src;
                imageFrame.src = imgSrc;
                dimension.innerHTML = imgSrc.substring(imgSrc.lastIndexOf('_') + 1, imgSrc.lastIndexOf('.'));
                $('#item_image').val(imgSrc);
            });

            $('#submitShareBtn').click(function () {
                if ($('#item_category').find("option:selected").text() == '请选择') {
                    $('#item_category').focus();
                    $('#item_category + .help-inline').show();
                    return false;
                }
                ;
                if ($('#desc').val().length == 0) {
                    $('#desc').focus();
                    $('#desc + .help-inline').show();
                    return false;
                }
            });

            $('#desc').blur(function () {
                if ($('#desc').val().length > 0) {
                    $('#desc + .help-inline').hide();
                }
            })

            $('#add_to_wish').click(function () {
                if (this.checked) {
                    $('#wisth_type_list').show();
                    $('#add_to_bought').attr('checked', false);
                } else {
                    $('#wisth_type_list').hide();
                }
            });

            $('#add_to_bought').click(function () {
                if (this.checked) {
                    $('#add_to_wish').attr('checked', false);
                    $('#wisth_type_list').hide();
                }
            });
        });
    </script>
<% end %>
