<li>
    <div class="thumbnail browse_item">
        <a class="img_frame medium_picture">
            <%= image_tag item.image %>
        </a>
        <%= link_to item do %>
            <h5 class="title"> <%= item.title %> </h5>
        <% end %>
        <% unless tags.nil? %>
            <p>标签：<%= tags %></p>
        <% end %>
        <% unless share.nil? %>
            <div class="row user-comment">
                <a class="img_frame mini_picture pull-left">
                    <%= image_tag small_avatar_url(share.user.avatar) %>
                </a>
                <%= link_to share.user.nick_name, my_shares_user_path(share.user), :class=> "user_name" %>
                <p class="comment" title="<%= share.comment_content %>"><%= share.comment_content %></p>
            </div>
        <% end %>
    </div>
</li>
