<li>
    <div class="thumbnail browse_item">
        <div class="btn-group item_actions">
            <a data-toggle="modal" href="#<%= "#{share._id}-wish-btn" %>" class="btn red">想买</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-recommend-btn" %>" class="btn yellow">推荐</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-bag-btn" %>" class="btn blue">已购</a>
        </div>

        <div class='item-thumb'>
            <%= link_to image_tag(item.image, :class => 'img_frame medium_picture'), item %>
            <% unless share.nil? %>
                <a class="img_frame mini_picture avatar">
                    <%= image_tag small_avatar_url(share.user.avatar) %>
                </a>
            <% end %>
            <div class='item-price'><%= number_to_currency(item.latest_price, unit: '￥') %></div>
        </div> 

        <%= link_to item do %>
            <h5 class='title'>
            <ul class="nav nav-pills item-share-info">
                <li>愿望:&#160;&#160;<span><%= item.in_wishes_num %></span></li>
                <li>推荐:&#160;&#160;<span><%= item.in_shares_num %></span></li>
                <li>已购:&#160;&#160;<span><%= item.in_bags_num %></span></li>
                <!--<li>评论:&#160;&#160;<span>0</span></li>-->
            </ul>
            </h5>
        <% end %>
        <% unless tags.nil? %>
            <p class="tags_list">
                <% i ||= 0 %>
                <% item.tags_each do |tag| %>
                    <%= link_to items_path(:tag_action => "add", :tag => tag), :class => "blingy" do %>
                        #<%= tag %><span class="left"></span><span class="right"></span>
                    <% end %>
                    <% i += 1 %>
                    <% break if i > 2 %>
                <% end %>
            </p>
        <% end %>
        <% unless share.nil? %>
            <p class="item-comment" title="<%= share.comment_content %>"><%= share.comment_content %></p>
        <% end %>
    </div>

    <%= render :partial => "shares/form", :locals => {:share => share} %>
</li>
