<li>
    <div class="thumbnail browse_item">
        <div class="btn-group item_actions">
            <a data-toggle="modal" href="#<%= "#{share._id}-wish-btn" %>" class="btn red">新愿望 <span><%= item.in_wishes_num %></span></a>
            <a data-toggle="modal" href="#<%= "#{share._id}-recommend-btn" %>" class="btn yellow">收藏 <span><%= item.in_shares_num %></span></a>
            <a data-toggle="modal" href="#<%= "#{share._id}-bag-btn" %>" class="btn blue">已实现 <span><%= item.in_bags_num %></span></a>
        </div>

        <%= render :partial => "items/itemthumb", :locals => {:share => share, :item => item}  %>


        <% unless tags.nil? %>
            <p class="tags_list">
                <% i ||= 0 %>
                <% item.tags_each do |tag| %>
                    <%= link_to items_path(:tag_action => "add", :tag => tag), :class => "blingy" do %>
                        #<%= tag %><span class="left"></span><span class="right"></span>
                    <% end %>
                    <% i += 1 %>
                    <% break if i > 2 %>
                <% end %>
            </p>
        <% end %>
        <% unless share.nil? %>
          <% if share.visibility.blank? %>
            <p class="item-comment" title="<%= share.comment_content %>"><%= link_to share.user.nick_name, account_user_path(share.user), :class => "user_name" %>:<%= share.comment_content %></p>
              <%else %>
              <p class="item-comment" title="<%= share.dummy_comment %>"><%= share.dummy_comment %></p>
          <% end %>
      <% end %>
    </div>

    <%= render :partial => "shares/form", :locals => {:share => share} %>
</li>
