<li>
    <div class="thumbnail browse_item">
        <div class="item_actions">
            <a data-toggle="modal" href="#<%= "#{share._id}-wish-btn" %>" class="btn">想买</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-recommend-btn" %>" class="btn">推荐</a>
            <a data-toggle="modal" href="#<%= "#{share._id}-bag-btn" %>" class="btn">已购</a>
        </div>

        <%= link_to image_tag(item.image, :class => 'img_frame medium_picture'), item %>

        <%= link_to item do %>
            <h5 class="title"> <%= item.title %> </h5>
        <% end %>
        <% unless tags.nil? %>
            <p class="tags_list">
                <% i ||= 0%>
                <% item.tags_each do |tag| %>
                    <%= link_to items_path(:tag_action => "add", :tag => tag), :class => "blingy" do %>
                        #<%= tag %><span class="left"></span><span class="right"></span>
                        <% end %>
                        <% i += 1%> 
                  <% break if i > 2%>
                      <%end %>
            </p>
        <% end %>
        <% unless share.nil? %>
            <div class="row user-comment">
                <a class="img_frame mini_picture pull-left">
                    <%= image_tag small_avatar_url(share.user.avatar) %>
                </a>
                <%= link_to share.user.nick_name, account_user_path(share.user), :class => "user_name" %>
                <p class="comment" title="<%= share.comment_content %>"><%= comment_format share.comment_content %></p>
            </div>
        <% end %>
    </div>

    <%= render :partial => "shares/form", :locals => {:share => share} %>
</li>
