<script>
  var GLOBAL_IMAGES_FROM_BOOKMARK = [];
  <% @imgs.each do |img| %>
    GLOBAL_IMAGES_FROM_BOOKMARK.push('<%= img %>');
  <% end %>
  $(document).ready(function () {
    var src = GLOBAL_IMAGES_FROM_BOOKMARK[0], selected,
    dimension = $('#bookmarklet_container .dimension')[0],
    imageFrame = $('#bookmarklet_container .image_frame img')[0];
    dimension.innerHTML = src.substring(src.lastIndexOf('_') + 1, src.lastIndexOf('.'));
    $('.image_list li').click(function () {
      if (selected) {
        selected.removeClass('selected');
      }
      selected = $(this);
      selected.addClass('selected');
      src = selected.find('img')[0].src;
      imageFrame.src = src;
      dimension.innerHTML = src.substring(src.lastIndexOf('_') + 1, src.lastIndexOf('.'));
    });
    $('form').on('submit', function (event) {
      if($('#desc').val().length == 0){
        alert('comment can not be empty');
        return false;
      }
      var val = $('[data-provide="tageditor"]').data('tageditor').getValue();
      $('#tags').val(val);
    });
  });
</script>

<div id="bookmarklet_container">
  <div class="row">
    <div class="span3 images_picker">
      <div class="image_frame">
        <img src="<%= @imgs[0] %>" alt=""/>
        <div class="dimension"></div>
      </div>
      <ul class="image_list">
        <% @imgs.each do |img| %>
          <li>
          <img src="<%= img %>" alt="">
          </li>
        <% end %>
      </ul>
    </div>
    <!-- /.span -->
    <div class="span6">
      <fieldset>
        <%= form_for @item, :url => {:controller => "items", :action => "create"}, :html => {:class => "form-horizontal"} do |f| %>
          <%= hidden_field_tag "item[image]", @item.image %>
          <%= hidden_field_tag "item[purchase_url]", @item.purchase_url %>
          <div class="control-group">
            <label class="control-label" for="input01"><span class="required">*</span>商品名称:</label>

            <div class="controls">
              <%= f.text_field :title, :class => 'input-xlarge' %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="select01"><span class="required">*</span>分类:</label>

            <div class="controls">
              <select id="category" name="item[category]">
                <% categories.each do |c| %>
                  <option value="<%= c %>"><%= c %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="rating_comp"><span class="required">*</span>推荐指数:</label>
            <div class="controls">
              <div id="rating_comp"></div>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="textarea"><span class="required">*</span>推荐评论:</label>

            <div class="controls">
              <%= text_area_tag "share[comment]", @share.comment_content, :id => 'desc' %>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="textarea">标签:</label>

            <div class="controls">
              <input type="hidden" id="tags" name="item[tags]">

              <div tabindex="0" class="tageditor" data-provide="tageditor" data-source='<%= Item.tags %>'>
                <ul class="tags">
                  <li><input type="text" style="width:30px;"/></li>
                </ul>
              </div>
            </div>
          </div>
          <%= hidden_field_tag "share[source]", @share.source %>
          <div class="form-actions">
            <%= f.submit "提交分享", :class => 'btn btn-primary' %>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>
</div>
