<script>
  var GLOBAL_IMAGES_FROM_BOOKMARK = [];
  <% @imgs.each do |img| %>
    GLOBAL_IMAGES_FROM_BOOKMARK.push('<%= img %>');
  <% end %>
  $(document).ready(function () {
    var src = GLOBAL_IMAGES_FROM_BOOKMARK[0], selected,
    dimension = $('#bookmarklet_container .dimension')[0],
    imageFrame = $('#bookmarklet_container .image_frame img')[0];
    dimension.innerHTML = src.substring(src.lastIndexOf('_') + 1, src.lastIndexOf('.'));
    $('.image_list li').click(function () {
      if (selected) {
        selected.removeClass('selected');
      }
      selected = $(this);
      selected.addClass('selected');
      src = selected.find('img')[0].src;
      imageFrame.src = src;
      dimension.innerHTML = src.substring(src.lastIndexOf('_') + 1, src.lastIndexOf('.'));
    });
    $('form').on('submit', function (event) {
      if($('#desc').val().length == 0){
        alert('comment can not be empty');
        return false;
      }
      var val = $('[data-provide="tageditor"]').data('tageditor').getValue();
      $('#tags').val(val);
    });
  });
</script>

<div id="bookmarklet_container">
  <div class="row">
    <div class="span3 images_picker">
      <div class="image_frame">
        <img src="<%= @imgs[0] %>" alt=""/>
        <div class="dimension"></div>
      </div>
      <ul class="image_list">
        <% @imgs.each do |img| %>
          <li>
          <img src="<%= img %>" alt="">
          </li>
        <% end %>
      </ul>
    </div>
    <!-- /.span -->
    <%= simple_form_for(@item, :html => {:class => 'form-horizontal span6' }) do |f| %>
      <%= hidden_field_tag "share[source]", @share.source %>
      <%= hidden_field_tag "item[image]", @item.image %>
      <%= hidden_field_tag "item[purchase_url]", @item.purchase_url %>

      <%= f.input :title, :label => '商品名称', input_html: { class: 'input-xlarge' } %>
      <%= f.input :category, :label => '分类' do %>
        <%= f.select :category, Hash[categories.map.with_index{|*ki| ki}], include_blank: false %>
      <% end -%>
      <%= f.input :rating_comp, :label => '推荐指数' do %>
        <div id="rating_comp"></div>
      <% end -%>
      <%= f.input :comment, :label => '推荐评论' do %>
        <%= text_area_tag "share[comment]", @share.comment_content %>
      <% end -%>
      <%= f.input :tags, :label => '标签', input_html: { class: 'input-xlarge' } %>
      <div class="form-actions">
        <%= f.submit '提交分享', :class => 'btn btn-primary' %>
      </div>
    <% end -%>
  </div>
</div>
