<div class="row">
    <div class="span12">

        <%= render :partial => "categories/category", :object => @current_categories %>

        <div id="progress_load" class="progress-loading" style="display: block;">
            <%= image_tag "loading.gif" %>
        </div>
        <div id="hot_tags" style="display: none;"></div>
        <% unless current_tags.blank? %>
            <div class="pull-left tag-desc">查看标签:&#160;&#160;</div>
            <ul class="tags without-form">
                <% current_tags.each do |tag| %>
                    <li class="tag" value="0">
                        <span class="uppercase">#<%= tag %></span><a title="<%= tag %>">&times;</a>
                    </li>
                <% end %>
            </ul>
            <hr class="bs-docs-separator"/>
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".tags .tag a").click(function () {
                        var url = "<%= items_path %>";
                        var param = "?tag_action=delete&tag=" + encodeURIComponent($(this).attr("title"));
                        $(location).attr("href", url + param);
                    });
                });
            </script>
        <% end %>
        <h4 id="notice" style="display: none; margin-top: 20px;"></h4>
        <ul id="items" class="items thumbnails"></ul>
    </div>
</div>
<div id="progress_more" class="progress-loading">
    <%= image_tag "loading.gif" %>
</div>
<ul class="pager">
    <li><%= link_to "更多宝贝", "javascript: void(0);", :remote => true, :id => "more", :path => items_path, :cat => "", :page => 1, :style => "display: none;" %></li>
</ul>
<script type="text/javascript">
    var moreBtn = $("#more");
    var noticeBar = $("#notice");
    var progressBar = $("#progress_more");
    var itemPanel = $("#items");
    var hotTagPanel = $("#hot_tags");

    var ItemController = {
        clearNotice:function () {
            noticeBar.hide().empty();
        },
        clearItems:function () {
            itemPanel.empty();
        },
        appendItem:function (html) {
            itemPanel.append(html).children("li:last").hide().fadeIn(2000);
        },
        renderTags:function (html) {
            $(hotTagPanel).html(html);
        },
        changeCategory:function (category) {
            this.clearItems();
            hotTagPanel.show();
            $("ul", hotTagPanel).empty();
            moreBtn.removeClass("finished");
            moreBtn.attr("cat", category);
            moreBtn.attr("page", 1);
        },
        notFound:function () {
            this.clearItems();
            hotTagPanel.hide();
            noticeBar.html("没有找到对应的宝贝。").show();
        },
        noMore:function () {
            moreBtn.addClass("finished");
            moreBtn.hide();
        },
        hasMore:function () {
            if (!this.autoLoad()) {
                moreBtn.show();
            }
        },
        autoLoad:function () {
            var page = parseInt(moreBtn.attr("page"));
            return page < 5 ? true : false
        }
    };

    $(function () {
        var arrivedAtBottom = function () {
            return $(document).scrollTop() + $(window).height() == $(document).height();
        }

        $(window).scroll(function () {
            if (arrivedAtBottom()) {
                if (!moreBtn.hasClass("finished")) {
                    if (ItemController.autoLoad()) {
                        moreBtn.click();
                    } else {
                        moreBtn.show();
                    }
                }
            }
        });

        moreBtn.click(function () {
            var page = parseInt(moreBtn.attr("page")) + 1;
            moreBtn.attr("page", page);
            var tags = $(".category-tags").attr("tags");
            var href = moreBtn.attr("path") + "?category=" + encodeURIComponent(moreBtn.attr("cat")) + "&tag=" + encodeURIComponent(tags) + "&page=" + page;
            moreBtn.attr("href", href);
        });

        var progressMore = $("#progress_more");
        moreBtn.on("ajax:before",
                function () {
                    moreBtn.hide();
                    progressMore.show();
                }
        ).on("ajax:complete",
                function () {
                    progressMore.hide();
                }
        );

        var progressLoad = $("#progress_load");
        $(".category li a").on("ajax:before",
                function () {
                    progressLoad.show();
                }
        ).on("ajax:complete",
                function () {
                    progressLoad.hide();
                }
        );
    });
</script>
