<div class="row">
    <div class="span12">

        <%= render "categories/category" %>

        <% unless @tags.blank? %>
            <div class="page-header">
                <h4>标签</h4>
                <ul class="tags">
                    <% @tags.each do |tag| %>
                        <li class="tag" value="0"><span class="uppercase">#<%= tag %></span><a title="<%= tag %>">&times;</a></li>
                    <% end %>
                </ul>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $(".tags .tag a").click(function () {
                        var url = "<%= items_path %>";
                        var param = "?tag=" + encodeURIComponent($(this).attr("title"));
                        $(location).attr("href",  url + param);
                    });
                });
            </script>
        <% end %>

        <!--<div class="page-header"></div>-->
        <ul class="thumbnails">
            <% @items.each do |item| %>
                <%= render :partial => "item", :object => item, :locals => {:tags => item.tags, :share => item.root_share} %>
            <% end %>
        </ul>
    </div>
</div>
<%= bootstrap_will_paginate @items %>
