<h2>Listing items</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th># of Shares</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
  	<td><%= item._id %></td>
    <td><%= item.title %></td>
    <td><%= item.shares.count %></td>
  	
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path , :class=>'btn primary'%>
<br/>
<br/>
<a href="/items/new/246883">246883</a>
|
<a href="/items/new/246884">246884</a>
|
<a href="/items/new/484075">484075</a>
|
<a href="/items/new/484076">484076</a>
|
<a href="/items/new/246887">246887</a>
|
<a href="/items/new/246885">246885</a>
|
<a href="/items/new/246886">246886</a>
