<h2>Item details</h2>
<p id="notice"><%= notice %></p>
<table>
	<tr>
		<td><img src="<%=@item.image%>" width="120"/></td>
		<td>
		  <i>_id: <%= @item._id %></i><br/>
		  <b>Title:</b> <%= @item.title %><br/>
		</td>
	</tr>
</table>

<%
@item.shares.each do |share|
  if share.visible_to?(current_user)
%>
	<hr size="1" />
	<p>
  <b>&nbsp; &nbsp; Ratings:</b> <%=share.product_rating%>/<%=share.service_rating%>
  <b>&nbsp; &nbsp; Comments:</b> <%= link_to share.comments.length, share %> <%= link_to 'Add Comment', edit_share_path(share)%>
	<br/>
  <b>&nbsp; &nbsp; Source:</b> <%= share.source %>
  <b>&nbsp; &nbsp; Price:</b> <%= share.price %>
  <br/>
  <b>&nbsp; &nbsp; Visible To:</b> <%=share.visible_to_nick_str%> <%=share.visible_to_self ? "private":""%><br/>
  <b>&nbsp; &nbsp; Comment:</b> <%=share.comment%><br/>
	</p>
<%
  end
end
%>
<%= link_to 'Edit', edit_item_path(@item), :class=>'btn primary' %>
<%= link_to 'Back', items_path , :class=>'btn'%>

