<% content_for :javascripts do %>
    <script type="text/javascript">
        $(function () {
            $(".comment-block").each(function () {
                var block = this;
                $(".link-child-comments", block).click(function () {
                    $(".child-comments", block).fadeToggle("slow", "linear");
                });
            });
            <% if flash[:highlighted] %>
            var comment = $("#<%= flash[:highlighted] %>-comment");
            comment.addClass("highlighted");
            setTimeout(function () {
                comment.removeClass("highlighted");
            }, 5000);
            if (comment.hasClass("comment-sub")) {
                $("div ul a", comment.parent().prev()).first().click();
            }
            <% end %>
        });
    </script>
<% end %>

<div class="row">
    <div class="span4">
        <div class="item-title" title="<%= @item.title %>"><%= @item.title %></div>
        <div class="thumbnail">
          <%= link_to image_tag(@item.image, :width => '360') , @item.purchase_url %>

            <div class="caption">
                <ul class="nav nav-pills info" style="font-size: 16px;">
                    <li><a href="#"><strong><%= @item.in_shares_num %></strong><span>推荐</span></a></li>
                    <li><a href="#"><strong><%= @item.in_wishes_num %></strong><span>愿望</span></a></li>
                    <li><a href="#"><strong><%= @item.in_bags_num %></strong><span>已购</span></a></li>
                </ul>
            </div>
        </div>
         <div class="page-header item-desc">
            <% unless @item.sub_shop_name.blank? %>
                <span class='item-shop'>来自:&#160;<span class="item-text" title="<%= @item.sub_shop_name %>"><%= @item.sub_shop_name %></span></span>
            <% end %>
            <%= link_to image_tag(gotopic(@item.source_site)), @item.purchase_url , { :target => '_blank'}  %>
            <span class="item-price item-text"><%= number_to_currency(@item.latest_price, unit: '￥') %></span>
        </div>
        <ul class="tag-block">
            <% @item.tags_each do |t| %>
                <li>
                    <button class="btn btn-info uppercase">#<%= t %></button>
                </li>
            <% end %>
        </ul>
        <%= form_tag add_tag_item_path(@item), class: "well form-inline tag-form" do %>
          <input type="hidden" id="tags" name="tag">
          <div tabindex="0" class="tageditor" data-provide="tageditor" data-source='<%=Item.tags%>'>
            <ul class="tags">
              <li><input type="text" style="width:30px;"/></li>
            </ul>
          </div>

          <%= submit_tag "添加标签", class: "add-tag btn btn-info" %>
          <div class="clear"></div>
        <% end %>
    </div>
    <div class="span8">
        <div class="page-header" id="comments-header"><h4>大家的评论</h4></div>
        <% @item.shares.all.desc(:created_at).each do |share| %>
            <% share.root_comments.each do |comment| %>
                <%= render :partial => "comments/comment", :object => comment %>
            <% end %>
        <% end %>
        <%= form_for @share.build_comment, url: recommend_item_path(@item), remote: true do |f| %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :_type %>
            <%= f.hidden_field :user_id %>
            <%= f.hidden_field :commentable_id %>
            <%= f.hidden_field :commentable_type %>
            <%= f.text_area :content, rows: 4, class: "input-xlarge", style: "width: 760px;", placeholder: "我来说两句" %>
            <%= f.submit "我要推荐", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
<div class="row" style="margin-top: 30px; margin-left: 0px;">
    <div class="page-header"><h4>你可能也会喜欢</h4></div>
    <ul class="thumbnails">
        <% @item.with_any_same_tags.each do |item| %>
            <% unless @item == item %>
                <%= render :partial => "items/item", :object => item, :locals => { :tags => item.tags, :share => item.root_share} %>
            <% end %>
        <% end %>
    </ul>
</div>
