<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">菠萝蜜</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <%= link_to_if(current_user.nil?, "我的首页") do
                          link_to "我的首页", dashboard_user_path(current_user)
                        end %></li>
                    <li>
                        <%= link_to_if(current_user.nil?, "去逛逛") do
                          link_to "去逛逛", items_path
                        end %></li>
                    <li>
                        <%= link_to_if(current_user.nil?, "我的圈子") do
                          link_to "我的圈子", friends_user_path(current_user)
                        end %></li>
                </ul>
                <%= form_for(:item, :url => search_items_path, :method => :get, :html => {:class => "navbar-search pull-left"}) do %>
                    <input type="text" name="search_content" id="search" class="search-query span2" value="<%= params[:search_content] %>" placeholder="搜索宝贝" data-provide="typeahead" data-items="10" data-source='<%= Item.tags %>'>
                <% end %>
                <% if current_user %>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li class="dropdown" id="menu">
                            <a href="#" data-toggle="dropdown" href="#menu"><%= current_user.nick_name %> </a>
                            <ul class="dropdown-menu">
                                <li><%= empty_link_if(current_user.nil?, "偏好设置") { edit_preferences_user_path(current_user) } %></li>
                                <li><%= empty_link_if(current_user.nil?, "帐号信息") { account_user_path(current_user) } %></li>
                                <li><%= empty_link_if(current_user.nil?, "通知中心") { notifications_path(current_user) } %></li>
                                <li><%= empty_link_if(current_user.nil?, "退出") { logout_path(current_user) } %></li>
                            </ul>
                        </li>
                    </ul>
                    <%= link_to "我要分享", share_items_path, class: "btn btn-warning pull-right" %>
                <% end %>
                <a href="#" class="pull-right notification-badge" style="display:none" id="notification-badge">0</a>
            </div>
        </div>
    </div>
</div>


