<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">菠萝蜜</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <%= link_to_if(current_user.nil?, "我的首页") do
                          link_to "我的首页", dashboard_user_path(current_user)
                        end %></li>
                    <li>
                        <%= link_to_if(current_user.nil?, "去逛逛") do
                          link_to "去逛逛", items_path
                        end %></li>
                    <li>
                        <%= link_to_if(current_user.nil?, "我的圈子") do
                          link_to "我的圈子", friends_user_path(current_user)
                        end %></li>
                </ul>
                <%= form_for(:item, :url => search_items_path, :method => :get, :html => {:class => "navbar-search pull-left"}) do %>
                    <input type="text" name="search_content" id="search" class="search-query span2" value="<%= params[:search_content] %>" placeholder="搜索宝贝" data-provide="typeahead" data-items="10" data-source='<%= Item.tags %>'>
                <% end %>
                <% if current_user %>
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li class="dropdown" id="menu">
                            <a class="dropdown-toggle" id='preference-button' data-toggle="dropdown" href="#"><%= current_user.nick_name %> </a>
                            <ul id='preference-panel' class="dropdown-menu" aria-labelledby="preference-button">
                                <li><%= empty_link_if(current_user.nil?, "偏好设置") { edit_preferences_user_path(current_user) } %></li>
                                <li><%= empty_link_if(current_user.nil?, "帐号信息") { account_user_path(current_user) } %></li>
                                <li><%= empty_link_if(current_user.nil?, "通知中心") { notifications_path(current_user) } %></li>
                                <li><%= empty_link_if(current_user.nil?, "退出") { logout_path(current_user) } %></li>
                            </ul>
                        </li>
                    </ul>
                    <!--<%= link_to "我要分享", share_items_path, class: "btn btn-warning pull-right" %>-->
                    <a id='share-btn' role="button" class="btn btn-warning pull-right" rel="#share-panel">我要分享</a>

                <% end %>
                <!--<a href="#" class="pull-right notification-badge" style="display:none" id="notification-badge">0</a>-->
                <ul class='pull-right notification-cont'>
                    <li class="dropdown" id="notifications">
                        <a class="dropdown-toggle notification-badge" id="notification-badge" style="display:none" data-toggle="dropdown" href="#">0</a>
                        <ul class="dropdown-menu notification-panel" id="notification-panel" aria-labelledby="notification-badge" role="menu"></ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<% if current_user %>

    <div class="simple_overlay" id="share-panel">
        <div class="overlay-link">
            <%= form_tag collecter_path, :remote => true, :style => "margin: 0px;", :id => "collect_item_form" do %>
                <%= text_field_tag :url, nil, :style => 'width: 600px', :class => 'input-medium search-query shareUrl', placeholder: "请粘帖商品链接 (支持淘宝、京东、亚马逊、凡客、亚马逊、新蛋、当当、1号店、国美、苏宁、易讯)" %>
                <button class="btn btn-primary" id="parseUrl-btn" type="submit">下一步</button>
            <% end %>
        </div>
        
        <div id="overlay-detail"></div>

        <%= render :partial => "items/sharemock" %>

    </div>
<% end %>
