<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb" lang="zh">
<head>
    <meta charset="utf-8">
    <title>菠萝蜜</title>
    <%= stylesheet_link_tag :application %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag :application %>
    <%= yield :javascripts %>
    <script src="http://a.tbcdn.cn/apps/top/x/sdk.js?appkey=12483819"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <%= csrf_meta_tags %>
</head>
<body>
<% unless need_empty_layout %>
    <%= render 'layouts/navbar' %>
<% end -%>

<div class="container">
    <%= yield %>
    <footer class="footer">
        <p>&copy; 2012 boluo.me. All rights reserved.</p>
        <p><wb:follow-button uid="3023348901" type="gray_2" width="136" height="24" ></wb:follow-button></p>
    </footer>
</div>
</body>
</html>
