<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>菠萝蜜</title>
    <%= stylesheet_link_tag :application %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag :application %>
    <%= yield :javascripts %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>

    <div class="container">
      <%= yield %>
      <footer class="footer">
        <p>&copy; 2012 boluo.me. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
