<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>友礼享</title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>
    <%= csrf_meta_tags %>
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">友礼享</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><%= link_to "我的首页", dashboard_user_path(current_user) %></li>
                    <li><%= link_to "去逛逛", shares_path %></li>
                    <li><%= link_to "我的圈子", friends_user_path(current_user) %></li>
                </ul>
                <form class="navbar-search pull-left" action="">
                    <input type="text" class="search-query span2" placeholder="搜索宝贝">
                </form>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li><a href="#">帐号</a></li>
                </ul>
                <%= link_to "我要分享", new_item_path, class: "btn btn-warning pull-right" %>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <%= yield %>
    <footer class="footer">
        <p>&copy; 2012 ssg.com. All rights reserved.</p>
    </footer>
</div>
</body>
</html>
