<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb" lang="zh">
<head>
    <meta charset="utf-8">
    <title>菠萝蜜</title>
    <%= stylesheet_link_tag :application %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag :application %>
    <%= yield :javascripts %>
    <script src="http://a.tbcdn.cn/apps/top/x/sdk.js?appkey=12483819"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
    <%= csrf_meta_tags %>
</head>
<body>
<% if need_empty_layout %>
    <%= render 'layouts/empty_navbar' %>
<% else %>
    <%= render 'layouts/navbar' %>
<% end %>

<div class="container">
    <%= yield %>
    <footer class="footer">
        <p>&copy; 2012 boluo.me. All rights reserved.</p>
    </footer>
</div><script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36350663-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
